@charset "utf-8";



#main{
	background-color: #212121 !important;
	margin-top: 140px;
	}
.same h1{
	font-family: Roboto;
	font-weight: bold;
	color:#e6882c;
}
.same p,.same h5{
	font-family: Roboto;
	color:white;
}
.same ul li{
	font-family: Roboto;
	color:white;
}
.same h3{
	font-family: Roboto;
	color:white;

}

.portfolio-item {
    margin-bottom: 25px;
}






@media only screen and (max-width: 997px) and (min-width: 509px) {
	
	.aboutlogo2{
		display: none;
	}
}
@media screen and (min-width: 0px) and (max-width:1200px){
	
	.aboutlogo2{
		display: none;
	}



}
   

html,body{
	background-color: #212121 !important;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}