@charset "utf-8";



#main{
	background-color: #fafafa !important;
	margin-top: 140px;
	}
.same h1{
	font-family: Roboto;
	font-weight: bold;
	color:#e6882c;
}
.same p{
	font-family: Roboto;
	color:#212121;
	font-size: 18px;
}
.same h5{
	font-family: Roboto;
	color:#212121;
	font-size: 20px;
	font-weight: 400;

}
.same ul li{
	font-family: Roboto;
	color:#212121;
	font-size: 18px;
}
.same h3{
	font-family: Roboto;
	color:#e6882c;

}

.portfolio-item {
    margin-bottom: 25px;
}
.timeline{
	width: 100%;
	min-width: 400px;
	margin-left:30px;

}



@media only screen and (max-width: 768px)  {
.same p{
	font-size: 0.7em;
}    
    .same h1{
    	font-size: 1.2em;
    	font-weight: 400;
    }
    .same ul li{

    	font-size: 0.7em;
    }
    .same h5{
    	font-size: 0.8em;

    }
    .same h3{
    	font-size: 1em;

    }
}

@media only screen and (max-width: 997px) and (min-width: 509px) {
	
	.aboutlogo2{
		display: none;
	}
}
@media screen and (min-width: 0px) and (max-width:1200px){
	
	.aboutlogo2{
		display: none;
	}
	.timeline{
	width: 100%;
	min-width: 300px;
	margin-left: -20px;
}   



}
   

html,body{
	background-color: #fafafa !important;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}