html,body{
	background-color: #212121 !important;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}
.textcsr{
    margin-top:140px;
	padding:0px;
}
.textcsr p{
	font-size:18px;
	font-family:Roboto;
	font-weight: 300;
	color:#212121;
}
.textcsr p a{
	font-size:18px;
	font-family:Roboto;
	font-weight: 300;
	color:#e6882c;
	text-decoration: none;
}
.textcsr h1{
	font-size:30px;
	font-weight:500;
	font-family:Roboto;
	color:#e6882c;
}
.textcsr h3{
	font-size:28px;
	font-weight:400;
	color:#212121;
	font-family:Roboto;
}
.textcsr ul li{
	font-size:18px;
	font-weight:400;
	color:#212121;
	text-decoration: none;
	font-family:Roboto;

}
@media screen only and (max-width: 1268px){
	.textcsr{
		margin-top: 0px !important;
	}
	.textcsr p{
		font-size: 1em;
	}
	.textcsr h1{
		font-size:1.6em;
	}
	.textcsr h3{
		font-size: 1em;
	}
}