.myblack
  {
    color:black;
  }
  .vitblue
  {
    color:#3B5998;
  }
  .vitgrey
  {
    color:#D6DCCD;
  }
  .content
  {
     margin-top: 6%;
  }
.row .col.l10 {
  width: 83.33333%;
  margin-left: 200px;
}
nav a:hover {
  color: white !important;
  text-decoration: none;
}


 .logo {
    border: 0;
  height: 100%;
  padding: 10px;
}

 .brand-logo {
  background-color: #3B5998;
  height: 100%;
  padding: 1px;
  z-index: 99;
}

.nav-top-fixed
{
    position: fixed;
  z-index: 999;
  top: 0;
  background-color: #212121;
}
.shift-events
{
  position: absolute;
  margin-left: 79%;
}
@media only screen and (min-width: 508px)
{
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
   height: 92px;
  line-height: 51px;
}
}
.navrow {
  margin-left: 188px;
}

nav ul a {
   color: white;
  font-size: 1.4em;
  padding: 2px 34px;
  font-weight: 600;
}
@media screen only and (min-width:100px ) and (max-width: 992px)
{
  nav .nav-wrapper {
  background-color: #3B5998 !important;
}
.nav-top-padding
{
  margin-top: 0px;
}
}
 .mdi-navigation-menu:before {
  padding: 18px;
}
@media only screen and (min-width: 508px) and (max-width: 992px)
{
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 105px;
  line-height: 95px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1139px)
{
  nav ul a {
  padding: 0px 6px;
}
.navrow {
    margin-left: 184px;
}
}
@media only screen and (min-width: 1140px) and (max-width: 1345px)
{
  nav ul a {
  padding: 0px 13px;
}
}
.searchbar
{
  background-color: rgba(255,255,255,0.12) !important;
  border-radius: 1px;
  height: 2.6rem !important;
  width: 10% !important;
  margin: 0 0 15px 0;
  right: 10px;
  top: 5px;
  position: absolute;
  padding-left: 10px !important;
  padding-right: 50px !important;
  border-bottom :none !important;
}
.row {
  margin-bottom: 0;
}
.black
{
  color:black;
}
.nav-top-bottom {
  position: relative;
  top: -24px;
  font-size: 13px;
}

.nav-bottom-text-size
{
  font-weight: 400;
  color:#D6DCD7;
}

.discover-image {
  margin-top: 31px;
  margin-right: 51px;
}

.allnews {
  font-size: 15px;
  font-weight: 400;
  color: #3B5998;
}
.social-feeds
{
  margin-top: 4%;
  margin-right: 46px;
}

/*footer */
.footer-lighten-text
{
  font-weight: 300;
}

/*image overlay */
.image-overlay
{

}

/* dropdown*/
.dropdown-content
{
  overflow: hidden;
    min-width: 210px;
}
.dropdown-content li > a, .dropdown-content li > span {
 
  color: #3B5998;
  font-weight: 400;
  
}



/*footer*/
footer.page-footer {
margin-top: 0px;
}