@charset "utf-8";

@font-face {
   font-family: 'TBI';
     src: url('css/Roboto-Bold.ttf') format('truetype'),
      url('css/Roboto-Medium.ttf'), url('css/Roboto-Regular.ttf') ;
}
.sliders{
	background-color: #212121;
	width:100%;
	display: flex;

}
.description{
	background-color: #212121;
	padding: 10px;
}
.about{
	background-color: #212121;

}
.about h1{
	font-family: Roboto;
	color: white;
}
.about p{
	font-family: Roboto;
	color: white;
}
#slidernavbar{
display: none;
}

.show-hide.ng-animate{
	display: block !important;
	transition : 5s all linear;
}
.show-hide{
	opacity: 1;
}
.show-hide.ng-hide{
	opacity: 0;
}
.text ul li {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
}
.text h1{
	font-family: Roboto;
	font-weight: bold;
	font-size: 28px;
}
.sliderimage{
    padding: 30px;
}
.material{
	justify-content:center;
	font-family: Roboto;
	font-size: 22px;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	z-index: 1;
	transition: all .3s ease-out;
	text-decoration: none;
	color: #fff;
	background-color: #212121;
	text-align: center;
	letter-spacing: .5px;
	border-radius: 2px;
	display: inline-block;
	line-height: 36px;
	outline: 0;
	padding: 2rem;
	text-transform: uppercase;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.material:hover{
	background-color: black;
}
.linkdrop{
	width: 14%;
	font-size: 26px;
	font-family: Roboto;
	font-weight: 400;
	color: black !important;
	list-style-type: none;
    margin-top: 28px;
}
.linkdrop a{
	margin-top: 12px;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 400;
	color: black !important;
	list-style-type: none;
}
.linkdrop a:link{
	color: black;
	margin-top: 12px;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 400;
	transition:all linear 0.2s;
	color: black !important;
	list-style-type: none;
}
.linkdrop a:visited{
	text-decoration: none;
	color: black ;
}
.linkdrop a:hover{
	text-decoration: none;
	color: #e6882c !important;

}
.linkdrop a:active{
	text-decoration: none;
	color: #e6882c !important;

}
.back{
	position:absolute;
	bottom:0;
	right:0;
}
.learnmore{
	font-family:Roboto;
	font-weight:400;
	color:white;
	font-size:18px;
	left:10px;
	bottom:8px;
	position:absolute;
}
.linkhead{
	font-size: 34px;
	font-family: Roboto;
	font-weight: bolder;
	color: black;
	list-style-type: none;
	padding-top: 10px;

}
.logo2{
	margin-left: -90px;
}
.text p{
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
}
.btn-active{
	background-color: #121212;
}
.btn-active1{
	text-decoration: none;
	transition :all linear 0.2s;
	color: white;
	border-bottom: solid 4px white !important;

}
inner>.item>img {
  margin-left: 0px !important;
  line-height: 1;
}


  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
  }
  
.container2 {
	background-color: #fff;
	width:100%;
   padding-right: 0px !important; 
   padding-left: 0px !important; 
  margin-right: auto;
  margin-left: auto;
}
.mobile{
	display: none;
}
.nav{
	padding-bottom: 22px;
	background-color: #212121;
	top:20px;
	justify-content:center;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
.nav li:active{
	border-bottom: solid 4px white;
	text-decoration: none;
	background-color: none!important;
	color: white;
}
.nav li a{
	padding-top: 12px;
}
.dropdown1{
	background-color: white;
	height: 120px;
}
.dropdown ul{
    list-style-type: none;
}
.dropdown ul li{
    list-style-type: none;
}
.myClass{
	background-color: #171717;
}

.grey-box{
	background-color: #171717;
	padding: 30px;
	min-height: 400px;
	position: relative;

}
.grey-box h2{
	color:white; 
	font-family:Roboto;
	font-weight:500;
	font-size:28px;
}
.orange-box h2{
	color:white; 
	font-family:Roboto;
	font-weight:500;
	font-size:28px;
}
.grey-box p{
	color:white; 
	font-family:Roboto;
	font-weight:300;
	font-size:18px;
}
.orange-box p{
	color:white; 
	font-family:Roboto;
	font-weight:300;
	font-size:18px;
}
.orange-box{
	background-color: #e48e15;
	padding: 30px;
	min-height: 400px;
	position: relative;

}


.links1 a{
color: white;
padding-bottom: 1px;
background-color: none;
}
.links1{
font-family: Roboto;
font-size: 18px;
text-decoration: none;
color: white;
font-weight: 700;
}

.links1 a:active{
	text-decoration: none;
	color: white;
	border-bottom: solid 4px white !important;
}
.links1 a:visited{
	text-decoration: none;
	color: white;
	border-bottom: solid 4px white;


}
.links1 a:hover{
	text-decoration: none;
	color: white;
	border-bottom: solid 4px white;
}
.links a{
	text-align: center;
color: white;
padding-top: 10px;
padding-bottom: 1px;
background-color: none;}
.links{
width: 100%;
font-family: Roboto;
font-weight: 500;
font-size: 22px;
text-decoration: none !important;
color: white;
}
.links a:hover{
	text-decoration: none !important;
	color: white;
	
}
.links a:active{
	text-decoration: none !important;
	color: white;
	
}
.links a:visited{
	text-decoration: none;
	color: white;
}
.logo5{
		display: block;
		margin-left: 40%;
		display: block;
		vertical-align: center;
		margin-right: auto;
		padding: 50px;
	}
.menu li{
	list-style-type: none !important;
	list-style: none;
}
.icon{
	margin-left: 22px;
}

.menu{
	list-style-type: none !important;
	width:25%;
	padding:20px;
	flex-direction:row;
	flex-wrap:no-wrap;
	cursor:pointer;
	text-align: center;
}
.menu:active{
	background-color: #121212;
	text-decoration: none;
}
.menu:hover{
	background-color: #121212;
	text-decoration: none;
}
.menu:visited{
	text-decoration: none;
	background-color: #121212;
}
.row{
	margin-left: 0px !important;
}
a:hover{
	text-decoration: none !important;
}
a:active{
	text-decoration: none !important;
}
a:visited{
	text-decoration: none !important;
}
.logo3{
	display: none;
}
.logo4{
	display: none;
}
.mobile{
	display: none;
}
@media screen and (max-width: 1268px){
	
	.links2{
	padding: 4px;
	    list-style-type: none;
	    clear: both !important;
	    font-family: Roboto;
	    color: white;
	    font-size: 1.2em;
	}
	.links2 a:hover{
		text-decoration: none;
		color: orange;
		background-color: none;

	}
	.back{
		display: none;
	}
}
@media screen and (max-width: 1268px) {
	#slidernavbar{
		display: block;
	}
	#mainnavbar{
		display: none;
	}
         .side-collapse-container{
             width:100%;
             position:relative;
             left:0;
             transition:left .4s;
         }
         .sliderimage{
         	padding: 8px !important;
         }
         .icon{
         	margin-left: 4px !important;
         }
         .description{
         	padding: 4px !important;
         }
         .grey-box, .orange-box{
         	padding:7px;
         	margin: 5px;
         	min-height: 200px;
         }
         .grey-box h2{
         	font-size: 1.2em;

         }
         .grey-box p{
         	font-size: 0.8em;
         }
         .orange-box h2{
         	font-size: 1.2em;
         }
         .orange-box p{
         	font-size: 0.8em;

         }
         .mobile{
         	display: block;
         }
         .dropdown1{
         	display: none;
         }
         .desktop{
         	display: none;
         }
         .side-collapse-container.out{
             left:200px;
         }
         .logo3{
         	display: block;
         }
         .logo{
         	display: none;
         }
         .side-collapse {
             top:50px;
             bottom:0;
             left:0;
             width:250px;
             position:fixed;
             overflow:hidden;
             transition:width .4s;
         }
         .side-collapse.in {
             width:0;
         }
         .links1 {
         	
         	clear: both;
         }
     }
.maintext{
	    left: 0;
    vertical-align: middle;
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 0;

}




@media only screen and (max-width: 1268px){
	.logo4{
		display: block;
		margin-left: auto;
		display: block;
		vertical-align: center;
		margin-right: auto;
		margin-top: -120px;
		padding: 10px;
	}
	.logo5{
		display: block;
		margin-left: auto;
		display: block;
		vertical-align: center;
		margin-right: auto;
		padding: 10px;
	}
	.maintext{
		text-align: center;
		
	}
}
.bottomnav ul li a:link{
	font-size: 20px;
	font-family: Roboto;
	color: white;
	font-weight: 300;
	list-style-type: none;
}
.bottomnav{
	margin-top: 24px;
	padding: 6px;
}
.bottomnav ul li a:hover{
	text-decoration: underline !important;
}
.bottomnav ul li a:active{
	color: white;
	text-decoration: underline !important;
}
.bottomnav ul li a:visited{
	color: white;
	text-decoration: underline !important;
}
@media only screen and (min-width: 768px) and (max-width: 1268px){
	.borderdown h4{
		font-size: 0.8em;
		
	}
	.contact h3{
		font-size: 1.2em;
	}
	.contact p{
		font-size: 0.6em;
	}
}
@media only screen and (max-width: 768px){
	.borderdown h4{
		font-size: 0.5em;
		
	}
	.linkicons{
		display: none;
	}
	.pdescription{
		display: none !important;
	}
	.bottomnav ul li a:link{
		font-size: 10px;
	}
	.contact h3{
		font-size: 1em;
	}
	.contact p{
		font-size: 0.5em;
	}

}
@media only screen and (max-width:1200px){
    
	.material{
	font-size: 1.2em;
    padding: 1.2rem;
	}

	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%; 
    margin: auto;
}
.text h1{
	font-size: 1.2em;
	font-weight: 300;
}
.text p{
	font-size:0.8em;
	font-weight: 200;
}

.links {
	font-size: 1em;
}

.borderdown h3{
	font-size: 0.5em;
}

    
}
.km{
	cursor:pointer;
	padding:6px;
}
.text{
	padding: 10px;
}

@media only screen and (max-width: 1268px)  {
	
	.km{
		width: 100px;
		height: 40px;
	}
	.logo3{
		display: block;
		margin-left: auto;
		display: block;
		margin-right: auto;
	}
	
	
.container2 {
	background-color: #fff;
  width: 100%;
}

  .menu{
  	list-style-type: none !important;
  	width:50% !important;
  	padding:20px;
  	flex-direction:row;
  	flex-wrap:no-wrap;
  	cursor:pointer;
  	text-align: center;
  }
  .menu a{
  	text-decoration: none;
    }
  .menu a:hover{
  	text-decoration: none;
  }
  .menu a:active{
  	text-decoration: none;
  }

	
	.logo{
		margin-left: 74px;
	}

}
.contact p{
	color: #e0e0e0;
}

.logo2 {
  margin-top: -60px;
  width:440px;
}

}
pre {
          tab-size: 8;
      }


@media only screen and (max-width: 997px) and (min-width: 509px) {
	.container2{
		width:100%;
		background-color: #fff;
	}
	.logo2{
		display: none;
	}

	
	
	
	.container-fluid {
		text-align: center !important;

	}
	.menu{
	list-style-type: none !important;
	width:50% !important;
	padding:20px;
	flex-direction:row;
	flex-wrap:no-wrap;
	cursor:pointer;
	text-align: center;
}
.menu a{
	text-align: center;
}
}
@media screen and (min-width: 0px) and (max-width:1200px){
	.main-text{
		font-family:Helvetica Light;
		font-size: 1.4em !important;
		color:white;
		font-weight: 300;
		margin-left: 70px;
		margin-right:40px;

	}
	.logo2{
		display: none;
	}



}
   
.link:hover{
	text-decoration: none !important;
}
/*.Plus {
	border-radius: 50%;
    color:#5d83ff;
	width:45px;
	height:45px;
	padding: 4px;
	text-align: match-parent;
	border:2px solid #5d83ff;
	font-size: 38px;
	}*/
@media screen and (min-width: 1200px){
	.underwhite {
	  display: inline;
	  font-size: 54px;
	  font-weight: 100;
	  font-family: "Roboto";
	  color: white;
	}
.underwhite2 {
  display: inline;
  font-size: 64px;
  font-weight: bold;
  font-family: "Roboto";
  color: white;
}
.logo4{
	display: none;
}
}
.link_menu a:hover {
	color: white !important;
	text-decoration: none !important;
	border-bottom: solid 5px white !important;
	}
.link_menu a:active{
	border-bottom: solid 5px white !important;
}
.link_menu a:visited{
	border-bottom: solid 5px white !important;
	color: white;
	text-decoration: none !important;
}
.link_menu a {
	font-size: 24px;
	display: inline;
	font-family: "Roboto";
	color: white;
	padding-bottom: 4px;
}

.menu2 {
   width:90%;
   display: flex;
}
.logo {
       width:150px;
	   padding-top: 25px;
	   /* height: 150px; */
	   /* width: 240px; */
}
.contact{
	font-family: Roboto;
	color: #fcfcfc;
	font-weight: 200;
	font-size: 22px;

}
.footer {
	margin-top:180px;
	width: 100%;    
    bottom: 0;
    background-color: #171717;
}
.borderdown{
	margin:0;
	text-align: center;
	color:#fcfcfc;
	font-family: Roboto;
	font-size: 22px;
	background-color: #212121;
}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 65vh;
}
.fade-carousel .carousel-inner .item {
    height: 65vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}