<!doctype html>

<head>
	<meta charset="utf-8">
	<title>Facilities & Services | VIT-TBI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script src="../js/jquery.js"></script>
	<script src="../js/smooth-scroll.js"></script>
	<link href="../materialize/css/materialize.css" rel="stylesheet" media="screen,projection"/>
    <link href="../materialize/css/materialize.min.css" rel="stylesheet"/>
    <script src="../materialize/js/materialize.min.js"></script>
    <script src="../materialize/js/materialize.js"></script>
    	<link rel="stylesheet" type="text/css" href="../css/hamburger.css"/>


	<!--<script src="js/jquery-2.1.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/hamburger.css"/>

	<link rel="stylesheet" type="text/css" href="css/hamburger.css"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    </script>
</head>

        <header>
          <nav class="nav-top-fixed" role="navigation">
            <div class="nav-wrapper">
              <a href="/vit" class="brand-logo"><img class="logo" src="/vit/images/logo.png"></a>
              
              <div class="row navrow">
                <div class="col l10 nav-top-padding">
                    <ul class="hide-on-med-and-down center ">
                      <li><a href="#home" data-scroll  style="margin-top: 20px;">HOME</a></li>
                    </ul>
                    <ul class="hide-on-med-and-down center " style="margin-top: 20px;">
                      <li><a href="#about_tbi" data-scroll>ABOUT TBI</a></li>
                    </ul>
                    <ul class="hide-on-med-and-down center "  style="margin-top: 20px;">
                      <li><a href="views/services.html" data-scroll>FACILITIES & SERVICES</a></li>
                    </ul>
                    <ul class="hide-on-med-and-down center " style="margin-top: 20px;">
                      <li><a href="#">OUR STARTUPS</a></li>
                    </ul>
                    <ul class="hide-on-med-and-down center ">
                      <li><a href="#" class='dropdown-button' data-activates='dropdownplacements'>NEWS & EVENTS</a></li>
                    </ul>
                    <ul class="hide-on-med-and-down center ">
                      <li><a href="#" class='dropdown-button' data-activates='dropdowncampuslife'>CSR PARTNERSHIP</a></li>
                    </ul>
                    <ul id='dropdownabout' class='dropdown-content'>
                        <li><a href="#!">Administrative offices</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Leadership</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Administrative Offices</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Timeline</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Infrastructure</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Careers</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Community outreach</a></li>
                      </ul>
                       <ul id='dropdownacademics' class='dropdown-content'>
                        <li><a href="#!">FFCS</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Schools</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Library</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Conference Facilities</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Computing Centers</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Smart Classrooms</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">International Relations</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">COE</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Honours and Awards</a></li>
                      </ul>
                        
                       <ul id='dropdownadmissions' class='dropdown-content'>
                        <li><a href="#!">Undergraduate</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Postgraduate</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">Research</a></li>
                      </ul>
                    
                     <a href="#" data-activates="nav-mobile" class="button-collapse" style="left=-250px"><i class="mdi-navigation-menu"></i></a>
              <ul id="nav-mobile" class="side-nav white">
                <li><a href="#">Navbar Link</a></li>
              </ul>
                  
              </div>
                
            </div>
            </div>
          </nav>
</header>
<div id="services">
    <div class="about-box-white">
        <h1>VIT-TBI Services</h1>
        <p>VIT-TBI’s focus is to create commercially successful high-tech ventures by nurturing them with the resources these ventures need. For example, in the early stage, VIT-TBI will assist the incubatee in assessing the market potential of the business idea by guiding through the process, which the incubatee has to implement on his own with his resources and some assistance from VIT-TBI.

            Such early stage advice and consultancy offered by VIT-TBI will be a free service. When thepromoter and VIT-TBI is satisfied with the project idea and its success potential, the incubatee will enter in to an agreement with VIT-TBI for availing the services of the TBI on mutually agreed terms and conditions.

            TBI would collect a nominal fee for the services and the space and technical support provided. As all the tenant incubatees are sharing these resources from a common pool, the incubatees will benefit from the lower cost of resources in the early stages.

            The form of compensation and the payment mode would be tailored to specific needs and based on individual case. More details on the types of financial arrangement and agreement between VIT-TBI and promoters are being dealt in the later part of this document.

            Broadly all the activities referred to in four stages above can be summed up as following:</p>
        <div class="members">
            <div class="picid">
                <div class="gove-photos"></div>
                <h4>name</h4>
                <h4>other details</h4>
            </div>
            <div class="picid">
                <div class="gove-photos"></div>
                <h4>name</h4>
                <h4>other details</h4>
            </div>
            <div class="picid">
                <div class="gove-photos"></div>
                <h4>name</h4>
                <h4>other details</h4>
            </div>
            <div class="picid">
                <div class="gove-photos"></div>
                <h4>name</h4>
                <h4>other details</h4>
            </div>

        </div>
    </div>
</div>


</body>
</html>