
<script type="text/javascript">
    $(document).ready(function() {   
                var sideslider = $('[data-toggle=collapse-side]');
                var sel = sideslider.attr('data-target');
                var sel2 = sideslider.attr('data-target-2');
                sideslider.click(function(event){
                    $(sel).toggleClass('in');
                    $(sel2).toggleClass('out');
                });
            });
    $(document).ready(function(){

        $(document.getElementById("1")).on('click',function(){        
            $(document.getElementById("3")).slideToggle('slow');
        });
        
        $(document.getElementById("2")).on('click',function(){
            $(document.getElementById("3")).slideToggle('slow');
        });
    });
    
    
    </script>
 
<div class="main container">
    <div class="row">    
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/background.jpg">
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" id="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                !-- card actions -->
                <div id="3"class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" id="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/background.jpg">
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" id="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <!-- card actions -->
                <div id="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" id="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/background.jpg">
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" id="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <!-- card actions -->
                <div id="3"class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" id="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
    </div>
    </div>

</div>
<footer class="footer">
   <div class="row">
    <div class="col-lg-8">

    
</div>
 <div class="contact col-lg-4 col-md-6 col-sm-12 col-xs-12 ">
  <h3>Address</h3>
  <p>VIT - Technology Business Incubator,
Vellore Institute of Technology,
Vellore – 632 014, Tamil Nadu, India. 
Tel. +91 416 224 3097
Email: vittbi@vit.ac.in, vittbi@yahoo.co.in </p>
</div>
</div>
<div class="row">
<div class="borderdown col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4>© 2014 Copyright Vellore Institute Of Technology. All rights reserved.</h4>
</div>
</div> 
</footer>
</body>


</html>