
      <div id="main" class="container">
      <div  class="same row col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h1> About VIT-TBI</h1>
        <p>Technology Business incubator (TBI) is an entity, which helps technology start-up businesses with, all the necessary resources / support that the start-up needs to evolve and grow as a mature business. Typically, TBIs provide incubatees, the start-up businesses supported by incubator, with necessary infrastructure support, technology/ prototype development support, research assistance, help in getting funding, business consulting assistance and do whatever is necessary to make the start-up a success. 

         VIT-TBI is situated inside the University of Vellore Institute of Technology. Hence, VIT-TBI leverages all the resources that are available within the campus such as access to laboratory, workshops, development and testing centers, computing resources, internet access and above all the human resources. In addition to these resources, VIT-TBI also has a network of eminent professionals, academicians, bankers, venture capitalists and businessmen, who can extend support to these ventures. 
        </p>
        
      </div>
      
      <div class="same col-lg-6 col-md-12col-sm-12 col-xs-12">
      <h1> Thrust Areas</h1>
      <h5>VIT-TBI has identified the following technology areas as thrust sectors, taking in to consideration the market demands and industries situated in and around the industrial cluster of Katpadi - Ranipet – Vellore – Chennai - Bangalore Region. </h5>
        <ul>
          <li>Bio- Technology based industries</li>
          <li>Environmental friendly solutions and products for Leather industries</li>
          <li>Automotive / Mechanical Engineering sector related products and services</li>
          <li>Information Technology Products and Solutions</li>
          </ul>
           
          <div class="row"> 
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <img class="img-responsive" src="../images/about1.jpg" />
          </div> 
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/about2.jpg" />
          </div> 
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/about3.jpg" />
          </div> 
           
          </div>
           
       
        
      </div>
      <div class="same col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Selection Process</h1>
          <p>A panel of eminent technocrats will process the applicants, interview the promoters and select the ventures for incubation after carefully evaluating the business idea, market availability, potential value of the technology, growth prospects, innovative content and promoter team. The panel will consist of experienced and qualified professionals from specific industry, leading bankers, seasoned venture capitalists and academicians of repute.</p>
          <img src="../images/timeline.png" class="timeline">
      </div>
      <div class="row container same col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
        

                <!-- Page Header -->
                <div class="row same">
                    <div class="col-lg-12">
                        <h1 class="page-header">Board of Governors
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Projects Row -->
                <div class="row same">
                    <div class="col-md-4 portfolio-item">
                        
                        <h3>Dr. G. Viswanathan</h3>
                        <p>Chancellor, VIT University & Chairman, VIT-TBI, Vellore.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Mr. G.V.Selvam
                        </h3>
                        <p>Vice President, VIT University & Vice Chairman-VITTBI, Vellore.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Dr. V. Raju
                        </h3>
                        <p>Vice-Chancellor, VIT University & Treasurer, VIT-TBI.</p>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Mr. T. S. Thiagarajan, Registrar
                        </h3>
                        <p>VIT University & Secretary, VIT-TBI, Vellore.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Prof. S.K.Sekar
                        </h3>
                        <p>Dean, School of Mechanical and Building Sciences, VIT University.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                              Mr. H.K.Mittal
                        </h3>
                        <p>Advisor & Head (NSTEDB), Department of Science & Technology, Govt. of India, New Delhi.</p>
                    </div>
                </div>

                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-4 portfolio-item">
                        <h3>
                             Industries Commissioner and Director of Industries & Commerce 
                        </h3>
                        <p>Govt. of Tamil Nadu, Chennai.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                             Dr. P.K.B.Menon
                        </h3>
                        <p>Former Advisor & Head (NSTEDB), Department of Science & Technology, Govt. of India, New Delhi.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Mr. B. Nagarjuna
                        </h3>
                        <p>Zonal Manager , Indian Bank, Zonal Office, Vellore.</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Mr. R.M.P. Jawahar
                        </h3>
                        <p>Executive Director, TREC Science & Technology Entrepreneurship Park, TEC Trichy.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Mr.T.S.Udayasankar
                        </h3>
                        <p>Technical Director, Samco Metals & Alloys, Kaniaymbadi, Velllore.</p>
                    </div>
                    <div class="col-md-4 portfolio-item">
                        <h3>
                            Mr. K.Ponnuswamy
                        </h3>
                        <p>Managing Director, INDIRA Industries, Ranipet.</p>
                    </div>
                </div>
       
        
     </div>
     
    </div>
    
    
      
