
    <div ng-controller="puiController as puictrl">
 <div class="main">
 <div  class="puiheads col-lg-4 col-md-4 col-sm-4 col-xs-4">
 <a href="" ng-click="puictrl.selectTab(3)" ng-class="{ 'btn-active2' : puictrl.isSelected(3) }">Projects Under Incubation</a>
     
 </div>
     <div  class="puiheads col-lg-4 col-md-4 col-sm-4 col-xs-4">
 <a href="" ng-click="puictrl.selectTab(2)" ng-class="{ 'btn-active2' : puictrl.isSelected(2) }">Graduated Startups</a>
     
 </div>
 <div  class="puiheads col-lg-4 col-md-4 col-sm-4 col-xs-4">
 <a href="" ng-click="puictrl.selectTab(1)" ng-class="{ 'btn-active2' : puictrl.isSelected(1) }">Anchor Companies</a>
     
 </div>
 </div>
<div class="main container" ng-show="puictrl.isSelected(3)">
       
       
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="card">
              <div class="image">
                <img src="../images/Projects Under Incubation/LabP35.jpg">
                <span class="title">Lab P53 Research Centre</span>
              </div>
              <div class="content">
                <p>Bioinformatics firm in the area of personalized medical therapy 
                  </p>
              </div>
              <div class="action">
               <p>Mr. Abilesh Malli Gunasekar</p>
               <a href="http://www.labp53.com">Visit here</a>
              </div>
            </div>
        </div>
        
       <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
           

            <div class="card">
              <div class="image">
                <img src="../images/Projects Under Incubation/ChalkStudio.jpg">
                <span class="title">Chalk Studio </span>
              </div>
              <div class="content">
                <p>B to B E-Learning platform</p>
              </div>
              <div class="action">
                <p>Mr. V. Venkata Raghulan </p>
              </div>
            </div>
        </div>
      
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                  <div class="image">
                    <img src="../images/Projects Under Incubation/finix.jpg">
                    <span class="title">Finix Info Solution Pvt Ltd</span>
                  </div>
                  <div class="content">
                    <p>Complete career management portal using Big Data/ AI/Semantic analytics</p>
                  </div>
                  <div class="action">
                    <p>Mr.Rajamanickam D</p>
                  </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                  <div class="image">
                    <img src="../images/Projects Under Incubation/3gswellness.jpg">
                    <span class="title"> 3GS Wellness Pvt.,Ltd.</span>
                  </div>
                  <div class="content">
                    <p>Stress Mobile: StressMobile is a tool that extricates myriad signals from voice and it uses the same for measurement of stress and other conditions.</p>
                  </div>
                  <div class="action">
                    <p>Mr. K. Bharat Kumar</p>
                  </div>
                </div>
              </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                <div class="image">
                  <img src="../images/Projects Under Incubation/dekoit.jpg">
                  <span class="title">Dekoit Technologies Pvt.Ltd </span>
                </div>
                <div class="content">
                  <p>Dekoit is into ecommerce business selling through leading marketplace portals in the country combining ecommerce and social media concepts, putting the customer as the main focus.</p>
                </div>
                <div class="action">
                 <p>Mr.S.H.Siddharth</p>              
                </div>
              </div>
          </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                  <div class="image">
                    <img src="../images/Projects Under Incubation/biolab.jpg">
                    <span class="title">Virtis Bio Labs</span>
                  </div>
                  <div class="content">
                    <p>Biotech contract research services</p>
                  </div>
                  <div class="action">
                    <p>Mr. A. Devsenapathy and Dr. P.N. Shilpa</p>
                  </div>
                </div>
              </div>
       
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
           

            <div class="card" style="min-height:200px;">
              <div class="image">
                <img src="../images/Projects Under Incubation/companylogo.jpg">
                <span class="title">CorpInsights</span>
              </div>
              <div class="content">
                <p>Business information and intelligence in data and finance</p>
              </div>
              <div class="action">
                <p>Mr. S. Raja Ayyappan </p>
              </div>
            </div>
        </div>
       
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="card" style="min-height:200px;">
              <div class="image">
                <img src="../images/Projects Under Incubation/companylogo.jpg">
                <span class="title">Plasmatech Solutons Pvt. Ltd., </span>
              </div>
              <div class="content">
                <p>Expression and purification of proteins</p>
              </div>
              <div class="action">
               <p>Mr. Vignesh Narasimhan Janakiraman</p>              
              </div>
            </div>
        </div>

        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="card" style="min-height:200px;">
                  <div class="image">
                    <img src="../images/Projects Under Incubation/companylogo.jpg">
                    <span class="title">Paynnovation Solutions Pvt., Ltd., </span>
                  </div>
                  <div class="content">
                    <p>Electronics card based payment systems</p>
                  </div>
                  <div class="action">
                    <p>Mr. Kunal Sharma</p>
                  </div>
                </div>
              </div>

    
       
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
           

            <div class="card" style="min-height:200px;">
              <div class="image">
                <img src="../images/Projects Under Incubation/companylogo.jpg">
                <span class="title">Transity</span>
              </div>
              <div class="content">
                <p>Transity is envisaged to be an integrated technology platform (hosted on the elastic cloud) to manage all the transportation needs of the organizations and also of individuals.</p>
              </div>
              <div class="action">
                <p>Mr.Krishna Kumar Ponnada</p>
              </div>
            </div>
        </div>
       
        
        

    
    
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image" >
                    <img src="../images/Projects Under Incubation/companylogo.jpg">
                    <span class="title">Rennaura Pvt. Ltd</span>
                  </div>
                  <div class="content">
                    <p>Special formulations in the personal care segment.</p>
                  </div>
                  <div class="action">
                    <p>Mr. Nishant Gupta & Mr. Palash Pandey</p>
                  </div>
                </div>
    </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="card" style="min-height:200px;">
              <div class="image">
                <img src="../images/Projects Under Incubation/companylogo.jpg">
                <span class="title">TMT Media Pvt., Ltd., </span>
              </div>
              <div class="content">
                <p>Web TV for Doctors</p>
              </div>
              <div class="action">
               <p>Mr. S. Natarajan</p>              
              </div>
            </div>
        </div>
        
    
  
    </div>
    <div class="main container" ng-show="puictrl.isSelected(2)">
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/Vanuston.jpg">
                    <span class="title">Vanuston Intelligence Pvt. Ltd.</span>
                  </div>
                  <div class="content">
                    <p>Customised Business Intelligence tools</p>
                  </div>
                  <div class="action">
                    <p>Mr. S. Anandanatarajan</p>
                    <a target="_a" href="http://vittbi.com/testing/www.vanuston.com">Visit Here</a>
                  </div>
                </div>
    </div>    
    
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
           

            <div class="card">
              <div class="image">
                <img src="../images/Projects Under Incubation/TCorpus.jpg">
                <span class="title">TCorpus Analytics</span>
              </div>
              <div class="content">
                <p>Development of Financial Services management solutions and Intellectual Property Management solutions.</p>
              </div>
              <div class="action">
                <p>Mr. Anupam Rudranand</p>
              </div>
            </div>
        </div>
     
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/msibiotech.jpg">
                    <span class="title">MSi Biotech</span>
                  </div>
                  <div class="content">
                    <p>Production of enzymes to treat the effluent of industries like leather, textile, food, drug, beverages & etc</p>
                  </div>
                  <div class="action">
                    <p>Mr. M. Ajmal Hussain</p>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/XCode.jpg">
                    <span class="title">Xcode Life Science Pvt., Ltd., </span>
                  </div>
                  <div class="content">
                    <p>Xcode innovates in the field of healthcare through research in life sciences and cutting edge technology. Xcode's portfolio spans bioinformatics, genetics and statistics through which it aims to promote preventive health behavior.</p>
                  </div>
                  <div class="action">
                    <p>Dr. Saleem Mohammed</p>
                    <a href="http://xcode.in/" target="_a">Visit Here</a>
                  </div>
                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/surgeforth.jpg">
                    <span class="title">M/s. Surgeforth Technologies Pvt., Ltd.</span>
                  </div>
                  <div class="content">
                    <p>End to end workforce development software that includes tools like predictive analytics,competency modeler,right fit selector etc.</p>
                  </div>
                  <div class="action">
                    <p>Mr. Ambalavanan Ramachandran</p>
                    <a target="_a"href="http://www.surgeforth.com">Visit Here</a>
                  </div>
                </div>
    </div>
    
     
  
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/hymnautyx.jpg">
                    <span class="title">Hypnautyx Entertainment (P) Ltd</span>
                  </div>
                  <div class="content">
                    <p>Interactive HDTV content and advertisements.</p>
                  </div>
                  <div class="action">
                    <p>Mr. Harish Kumar</p>
                    <a href="http://www.hypnautyx.com/" target="_a">Visit Here</a>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/maxvalue.jpg">
                    <span class="title">MaxValue Learning Technologies and Consulting Pvt., Ltd</span>
                  </div>
                  <div class="content">
                    <p>E-learning platform & tools and programs.</p>
                  </div>
                  <div class="action">
                    <p>Mr. AUSTIN P. MATHURANAYAGAM</p>
                    <a href="http://www.maxvalueonline.com/" target="_a">Visit Here</a>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/thinkcore.jpg">
                    <span class="title">ThinkCore Technologies Private Ltd.</span>
                  </div>
                  <div class="content">
                    <p>An Enterprise Productized Software development organization targeting SME’s.</p>
                  </div>
                  <div class="action">
                    <p>Mr. Narendra Aswatha Narayana, Bangalore.</p>
                    <a target="_a" href="http://www.thinkcoretech.com/">Visit Here</a>
                    <a target="_a" href="http://www.pebbletalk.com/">Visit Here</a>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/mobileveda.jpg">
                    <span class="title">Mobile Veda</span>
                  </div>
                  <div class="content">
                    <p>A simplified web platform for mobile value added services.</p>
                  </div>
                  <div class="action">
                    <p>Mr. R. GANESH RAM</p>
                    <a target="_a" href="http://www.fublish.com/">Visit Here</a>
                  </div>
                </div>
    </div>
       
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/letzknow.jpg">
                    <span class="title">Letzknow.com</span>
                  </div>
                  <div class="content">
                    <p>Letzknow.com is a campus information portal providing a platform for Academic Network.</p>
                  </div>
                  <div class="action">
                    <p>Mr. T.S. Suresh Kumar</p>
                    <a tagret="_a"href="www.letzknow.com">VISIT Here</a>
                  </div>
                </div>
    </div>

   <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/accurate.jpg">
                    <span class="title">Accurate Technology Solutions</span>
                  </div>
                  <div class="content">
                    <p>Developing applications and tools in the areas of Mobile Computing & distributed computing.</p>
                  </div>
                  <div class="action">
                    <p>MR. P. VENKATA KRISHNA,
MR. M. RAJASEKHARA BABU</p>
                  </div>
                </div>
    </div>
   
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Graduated Startups/vellorefineproducts.jpg">
                    <span class="title">Vellore Fine Products, Vellore</span>
                  </div>
                  <div class="content">
                    <p>Development and Suppliers of  precision Auto Components.</p>
                  </div>
                  <div class="action">
                    <p>Mr.A. Janakiraman </p>
                  </div>
                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card"  style="min-height:400px;">
                  <div class="image">
                    <img src="../images/Graduated Startups/ecsolutions.jpg">
                    <span class="title">E C Solutions</span>
                  </div>
                  <div class="content">
                    <p>Development of software and web applications for Educational Institutions.</p>
                  </div>
                  <div class="action">
                    <p>Mr. V.G. SRIDHAR</p>
                  </div>
                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image">
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">RM/s. XNGenE</span>
                  </div>
                  <div class="content">
                    <p>Framework for affordable product engineering by collaborative network</p>
                  </div>
                  <div class="action">
                    <p>Mr. K. Gokul Kumar</p>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image">
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Ooconn Solutions Pvt., Ltd.</span>
                  </div>
                  <div class="content">
                    <p>Design, develop and provide online solutions for learning, brainstorming, messaging, mailing, meetings and presentations.</p>
                  </div>
                  <div class="action">
                    <p>Mr. R. Balajee</p>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image">
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Smart Engineered Materials</span>
                  </div>
                  <div class="content">
                    <p>Development and use of alternate building materials from Industrial wastes.</p>
                  </div>
                  <div class="action">
                    <p>Dr. S.K. SEKAR</p>
                  </div>
                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image">
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">VR BIOREMEDIATION SERVICES</span>
                  </div>
                  <div class="content">
                    <p>VR Bioremediation To remediate polluted land or water using living organisms.</p>
                  </div>
                  <div class="action">
                    <p>Dr. SHARMILA THOMAS</p>
                  </div>
                </div>
    </div>
       <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image" >
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Icon Infotech, Vellore</span>
                  </div>
                  <div class="content">
                    <p>Development of Supply Chain Management and Customer Relationship Management for Small and Medium Range Industries.</p>
                  </div>
                  <div class="action">
                    <p>Mr. L. Umashankar</p>
                  </div>
                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image" >
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Efficsys Logistics</span>
                  </div>
                  <div class="content">
                    <p>The company has merged with Ticketgoose.</p>
                  </div>
                  <div class="action">
                    <p>Mr.Arun Athiappan.</p>
                  </div>
                </div>
    </div>
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:230px;">
                  <div class="image" >
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">T-Ching-Tech</span>
                  </div>
                  <div class="content">
                    <p>Smart Lesson Engine for Multimedia content creation.</p>
                  </div>
                  <div class="action">
                    <p>Mr. M. SRINIVASAN</p>
                  </div>
                </div>
    </div>
    
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image" >
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Acharya Green Peace Silk</span>
                  </div>
                  <div class="content">
                    <p>Manufacture as special handloom fabric called KUTNI fabric made out of natural vegetable dyed, vegetarian silk and cotton yarns. To manufacture KUTNI efficiently retrofitting of existing handlooms to increase productivity is being developed.</p>
                  </div>
                  <div class="action">
                    <p>Mr. S. RAJAKUMAR</p>
                  </div>
                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image" >
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Param Health Foods, Mohali - Punjab</span>
                  </div>
                  <div class="content">
                    <p>Development of RTS Beverages like Pomegranate, Peach, Litchi, Pineapple, Mango and Ginger based health drinks.</p>
                  </div>
                  <div class="action">
                    <p>Mr. Param Deep Singh</p>
                    <a href="http://www.youtube.com/watch?v=7FECX05pz0I">Visit Here</a>
                  </div>
                </div>
    </div>
   
     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card" style="min-height:200px;">
                  <div class="image" >
                    <img src="../images/Graduated Startups/companylogo.jpg">
                    <span class="title">Objective Solutions and Technologies</span>
                  </div>
                  <div class="content">
                    <p>A software project that specialized in components, tools and workflow development for e-governance,    e-banking, e-learning and e-retail with Open source technologies.</p>
                  </div>
                  <div class="action">
                    <p>Mr. S Balaraman</p>
                  </div>
                </div>
    </div>
   

        </div>

 <div class="main container" ng-show="puictrl.isSelected(1)">
        
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Anchor Companies/Meta-yage.jpg">
                    <span class="title">Metayage IP Strategy Consulting LLP</span>
                  </div>
                  <div class="content">
                    <p>Strategic solutions for Intellectual Property.</p>
                  </div>
                  <div class="action">
                    <a href="http://vittbi.com/testing/www.metayage.com">Visit Here</a>
                  </div>
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
                  <div class="image">
                    <img src="../images/Anchor Companies/PA.jpg">
                    <span class="title">VS Prudence Advisors Pvt. Ltd</span>
                  </div>
                  <div class="content">
                    <p>A business advisory services firm.</p>
                  </div>
                  
                </div>
    </div>
</div>s