<div class="container main common">
<h3>VIT-TBI invites applications from potential technology start-ups to avail the services of VIT-Technology Business incubator.</h3>

<p>The process of Selection is detailed under Selection Process.
Application may have the following details:
Name of the Applicant, his address, Telephone, email id and complete educational background and experience details of all the promoters team. A brief idea about the technology and business, type of research or development assistance needed, availability of start-up capital, services expected from VIT-TBI and declaration that the details shared are not any trade or commercial secret. The format of the application can also be <a href="http://vittbi.com/testing/ApplicationTBI.doc">downloaded</a> from our website. </p>
</div>