<div class="container main common">
<h3>VIT-TBI invites applications from potential technology start-ups to avail the services of VIT-Technology Business incubator.</h3>

<p>The process of Selection is detailed under Selection Process.
Application may have the following details:
Name of the Applicant, his address, Telephone, email id and complete educational background and experience details of all the promoters team. A brief idea about the technology and business, type of research or development assistance needed, availability of start-up capital, services expected from VIT-TBI and declaration that the details shared are not any trade or commercial secret.</p> <br>
 <div class="same col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Selection Process</h1>
          <p>A panel of eminent technocrats will process the applicants, interview the promoters and select the ventures for incubation after carefully evaluating the business idea, market availability, potential value of the technology, growth prospects, innovative content and promoter team. The panel will consist of experienced and qualified professionals from specific industry, leading bankers, seasoned venture capitalists and academicians of repute.</p>
          <img src="../images/timelinenew.png" class="timeline">
      </div>
<a class="btn btn-hero btn-lg" style="left: 43%;position: relative"target="_a"href="http://vittbi.com/testing/ApplicationTBI.doc" role="button">Apply Now</a>
</div>