     
      <div class="textcsr container-fluid">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      
      <h1>CSR PARTNERSHIP</h1>
      <p>
      As per Section 135 of the Companies Act 2013, large companies are expected to spend 2% of the average net profits towards Corporate Social Responsibility Projects. 

VIT Technology Business Incubator is a non-profit technology business incubator located within an academic organization which is approved by the Central Government and hence eligible under Section 135, Schedule 7 of the Companies Act 2013. Please visit the link <a href="http://www.mca.gov.in/Ministry/pdf/CompaniesActNotification3_2014.pdf">CompaniesActNotification3_2014</a> , see item (ix) under Schedule VII for details. This proposal will allow companies to invest up to 2% of its net profits in VITTBI and account for it as CSR expenditure. 

VIT Technology Business Incubator is eligible to receive funding support under Section 135, Schedule 7 of the Companies Act 2013 because:

VITTBI is a non-profit entity; it is registered as a Section 25 company
VITTBI was incorporated in 2003 and has a good track record supporting innovative technology startups.
VITTBI is a technology business incubator approved by the Department of Science. (Ministry of S&T, Govt of India)
VITTBI has been supported by funding from DST-NSTEDB, TIFAC, TDB, DSIR, BIRAC and DC/MSME (all Government of India agencies).
Sector under Schedule VII encompasses Technology incubators located within academic institutions which are approved by the Central Government [item 1(ix) in GSR 130(E)] to support one or more of the below-mentioned types of projects.
Core activity of VITTBI to promote entrepreneurship and incubate startup ventures
Entrepreneurship Lecture series to inspire, inform and energize a new generation of technology innovators and aspiring entrepreneurs in the campus and the region.
Fellowships to encourage more people to come up with new technology ideas and take risk in its development.
Structured programs to support innovative business ventures
Create a common facility for engineering innovators to experiment and test various ideas that may lead to cutting-edge technologies benefiting the society.
CSR funding can be of two types as per CSR rules (clause 7).
Contribution to the corpus: In this form of contribution, the company can fund a lasting and continuing program with potential for long lasting impact. This form of funding is suitable for creating/ supporting resource centers and organizational activity/initiatives. Here, the recipient only uses the income on the corpus towards its activities; the corpus remains an asset of the organization.
Project or program funding: In this form of contribution, the company can focus on focused, limited term projects with clear milestones.
VITTBI shall provide periodic reports on the following aspects to help the Corporate meet its annual reporting requirements under CSR rules.
Activities undertaken
Utilization of funds/ financial report against planned budget
Impact of activities undertaken against pre-decided impact metrics
For more details and engagement, please contact: </p>

</div>
<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
<h3>The General Manager :-</h3>
<p >
VIT-Technology Business Incubator ,<br> 
VIT University, Vellore – 632 014, Tamil Nadu, India. <br>
Tel. +91 416 224 3097 (Direct) <br>
DID 2202301 / 2202302. <br>
Fax No: +91 416 2243 097 and +91 416 224 0411<br>
Mobile No: 9443311367<br>
Email: vittbi@vit.ac.in , vittbi@yahoo.co.in <br>
Website :www.vit.ac.in/tbi , www.vittbi.com<br>
</p>
</div>
</div>



      
      