<div class="container main common">
<!-- <h3>Technology Entrepreneurship Development Programme</h3>
<p>3-day Entrepreneurship camp for students of Engineering, Technology and Management Institutions and Polytechnics. Dates will be announced shortly.</p>
<h3>Technology Entrepreneurship Development Programme</h3>
<p>6-week Technology Entrepreneurship Development Programme in Food Processing  for graduates/diploma holders in Engineering and Science. Dates will be announced shortly.</p>
<h3>Faculty Development Programme</h3>
<p>2-week Faculty Development Programme on Entrepreneurship, Innovation and Incubation in June 2016</p> -->
<h1>Promotional Events:</h1>
<h3>Unplugged is a popular startup conference and brings together amazing entrepreneurs, investors and geeks. VITTBI participates in their conferences and promotes the services of TBI. 
</h3>

<p>VITTBI took part in the following :</p>
<ul>
<li>Unplugged an event organized by Pluggdin focusing on Technology Startups in Bangalore on 7th July, 2012.</li>
<li>Unplugged Event on 8th June, 2013, Bangalore.</li>
<li>Unplugged event on 20th June 2015 in Bangalore</li>

</ul>
<div class="container"> 
  	<div class="row"> 
  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img class="img-responsive" src="../images/unplugged3.jpg" />
  	</div>
  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><img class="img-responsive" src="../images/unplugged4.jpg" />
  	</div> 
  	
  	</div>
  	 </div>

<h3>The Indus Entrepreneurs(TiE) has a singular focus on wealth creation through entrepreneurship by inspiring and educating budding entrepreneurs among several other activities. TiE holds regular workshops and networking meetings and VITTBI makes the best use of this opportunity to promote incubation at VITTBI.</h3>

<p>VITTBI puts in continuous efforts to reach out to innovators and entrepreneurs.VITTBI participated in the following TiE Events:</p>
<ul>
<li>TiE Chennai on 28th October 2009</li>
<li>TiECON 2009 organized by TiE Chennai on 27th November at Chennai Trade Center.</li>
<li>TiE Chennai on 8th September, 2010.</li>
<li>TiECON '2011 organized by TiE Chennai on 24th November, 2011</li>
<li>TiE Entrepreneurial Summit from 15th & 16th December, 2011 at Bangalore</li>
<li>TiE Chennai Super Saturday organized by TiE Chennai on 14th July, 2012 at Chennai</li>
<li>TiECON '2012 organized by TiE Chennai on 3rd December, 2012</li>
<li>TiECON '2013 organized by TiE Chennai on 12th November, 2013</li>
<li>TiECON '2014 organized by TiE Chennai on the 31st Oct & 1st Nov 2014</li>
</ul>
<div class="container">
<div class="row"> 
  	<div class="col-lg-3 col-md-3  col-sm-3 col-xs-6">
  	<img class="img-responsive" src="../images/tie1.jpg" />
  	</div> 
  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img class="img-responsive" src="../images/tie3.jpg" />
  	</div> 
  	<div class="col-lg-3 col-md-3  col-sm-3 col-xs-6"><img class="img-responsive" src="../images/tie2.jpg" />
  	</div> 
  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><img class="img-responsive" src="../images/tie4.jpg" />
  	 </div>
     </div>
     </div>
<h3>VITTBI took part in the exhibitions organized by Silicon India Startup city in Chennai and Bangalore</h3>
<ul>
<li>Chennai on 20th March 2010</li>
<li>Bangalore on 28th May, 2011</li>
<li>25th February, 2012</li>
<li>Siliconindia Startupcity, 2nd June 2012</li>
<li>Silicon India in Bangalore on 22nd June, 2013</li>
</ul>
<div class="container"> 
  	<div class="row"> 
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
  	<img class="img-responsive" src="../images/silicon1.jpg" />
  	</div> 
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/silicon2.jpg" />
  	</div> 
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/silicon3.jpg" />
  	</div> 
  	</div>
  	 </div>
  


     <a href="#/pasevents" style="color:black">Past Events</a>

</div>