<div class="common main container">
<h2>VIT-TBI has constituted two different Seed Support Systems for Start up companies.
Technology Development Board, Govt. of India.
National Science & Technology Entrepreneurship Development Board (NSTEDB), Govt. of India
This scheme enables our TBI to offer early stage financial support for deserving ideas / technologies requiring up scaling and related work.</h2>

<h3>The Start-ups would be supported primarily on the following:-</h3>
<ul>
<li>Product Development</li>
<li>Testing and Trials</li>
<li>Test Marketing</li>
<li>Mentoring</li>
<li>Professional Consultancy</li>
<li>Filing of Patents</li>
<li>Man power</li>
</ul>
<h3>Any other activity as deemed necessary and recommended by the Management Committee constituted by VIT-TBI.</h3>
<p>
Quantum of Financial Assistance<br>
Maximum	: Rs. 50 Lakhs<br>

TBI would enter into a proper agreement with the start-up unit before providing Financial Support (by way of Soft Loan) <br>

As this scheme is applicable only for Incubatees of our TBI, the first logical step would be to apply for Business Incubation Support in our TBI. <br>

To Download the Application <a href="http://vittbi.com/testing/application.zip">Click Here</a> <br>

Angel Funding –VIT-TBI has over the period of years developed contacts with several affluent individuals who provide capital for business start-ups, usually in exchange for convertible debt or ownership equity. VIT-TBI connects its incubatees with Angel Investors as and when the company is ready to assimilate the funds effectively and grow. 
</p>
<h3>Facilitation of Government Grants: </h3>

<p>Funding to the Startups is also arranged through various grants available from the government through various schemes. VITTBI constantly follows the updates from the government e.g. DST, DSIR, DBT, DIT, MSME, TIFAC and the like with respect to funding schemes and recommends appropriate schemes to the incubatees.</p>
<div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
<h2>For More Information, Contact</h2><br>
           <h3>The General Manager:</h3> <br>
           <p>Technology Business Incubator , <br>
           Vellore Institute of Technology,<br> 
           Vellore – 632 014, Tamil Nadu, India.<br> 
           Tel. +91 416 224 3097 (Direct) <br>
           DID 2202301 / 2202302.<br> 
           Fax No: +91 416 2243 097,+91 416 224 0411<br>
           Mobile No: 9443311367<br>
           Email: vittbi@vit.ac.in , vittbi@yahoo.co.in<br> 
           Website :www.vit.ac.in/tbi , www.vittbi.com</p><br>
           </div>
</div>