<script src="../js/jquery.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>
<div id="home" class="side-collapse-container">
<div class="row">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
 

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
     <!-- Overlay -->
  <div class="overlay"></div>
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <img src="../images/slogan.png" style="max-width:500px;width:100%;max-height:480px;">        
            
      </div>
    </div>
    <div class="item slides">
    <!-- Overlay -->
     <div class="overlay"></div>
      <div class="slide-2"></div>
       <div class="hero">        
        <hgroup>
            <h2 style="color:#e6882c">Top-Notch Facilities.</h2>        
            <p>Lorem ipsum dolor sit amet, consectetur adscing elit. Mauris ac mauris auctor lorem si.</p>
        </hgroup>       
        <button class="btn btn-hero btn-lg" href="#/apply" role="button">Apply Now</button>
      </div>
    </div>
    <div class="item slides">
      <div class="overlay"></div>
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            </hgroup>   
      </div>
    </div>
  </div> 
</div>
</div>
</div>
<div class="container">
  <div class="about col-lg-12 col-md-12">
    <h1 style="font-weight:700;font-size:25px;">About VIT-TBI</h1>
    <p style="font-weight:300;font-size:16px;">VIT TBI (Technology Business Incubator) has been established at Vellore Institute 
of Technology with the Sponsorship of the Department of Science and Technology,
Government  of India to assist budding entrepreneurs like you to incubate your 
technology venture.</p>
 </div>
    </div>
  
     <div class="container">
    <div class="description row ">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="grey-box">
            <h2>Our Startups</h2>
            <p><ul>
            <li><a href="#/ourstartups">Startups Under Incubation</a></li>
            <li><a href="#/ourstartups">Graduated Startups</a></li>
            <li><a href="#/ourstartups">Anchor Companies</a></li>
            </ul>/</p>
            <img src="../images/rocket.png" class="back">
            <a class="learnmore" href="#/ourstartups">Learn More</a>
          </div>
          </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="grey-box">
            <h2>Core Facilities</h2>
            <p><ul>
            <li><a href="#/infrastructure">Infrastructure</a></li>
            <li><a href="#/training">Training</a></li>
            <li><a href="#/mentoring">Mentoring</a></li>
            </ul></p>
            <img src="../images/persona.png" class="back">
            <a class="learnmore" href="#/infrastructure">Learn More</a>
            </div>
          </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="orange-box">
            <h2>Application & Selection Process</h2>
            <p><ul><li><a href="#/about">Selection</a></li>
            <li><a href="#/apply">Apply Now</a></li></ul></p>
            <img src="../images/folks.png" class="back"/>
            <a class="learnmore" href="#/about">Learn More</a>
            </div>
          </div>
            
          </div>
      </div>

    <div id="Mainbody" class="side-collapse-container" ng-controller="tbiController as tbictrl">
 <div class="sliders">
    <div id="wrap" class="links">
      <li class="menu col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{ 'btn-active' : tbictrl.isSelected(1) }" ng-click="tbictrl.selectTab(1)"><a class="linkicons"href="#"data-id="upc">Recent Events</a>
      <span><img class="icon"src="images/upc.png"></span></li>
      <li class="menu col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{ 'btn-active' : tbictrl.isSelected(2) }" ng-click="tbictrl.selectTab(2)"><a class="linkicons"href="#"data-id="news">Training</a>
      <span><img class="icon"src="images/events.png"></span> </li>
    </div>
    </div>
    <div class="container2" id="upc" ng-show="tbictrl.isSelected(1)">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item container active">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6 col-xs-6 sliderimage" src="../images/sliderimage.jpg" alt="Chania">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text">
              <h1>Unplugged, Bangalore</h1>
              <p class="pdescription">Unplugged is a popular startup conference and brings together amazing entrepreneurs, investors and geeks. VITTBI participates in their conferences and promotes the services of TBI. VITTBI took part in the following :
                <ul>
                <li>Unplugged an event organized by Pluggdin focusing on Technology Startups in Bangalore on 7th July, 2012.</li>
                <li>Unplugged event on 20th June 2015 in Bangalore</li>
                <li>Unplugged Event on 8th June, 2013, Bangalore.</li>
                </ul>
                </p>
                <a href="#/events"><img  class="km" src="images/km.png"/></a>
              
          </div>
        </div>
       </div>
        <div class="item container">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6  col-xs-6 sliderimage" src="../images/sliderimage2.jpg" alt="Chania">
          <div class="col-lg-8 col-md-8 col-sm-6  col-xs-6 text">
              <h1>TiE Chennai</h1>
              <p class="pdescription">The Indus Entrepreneurs(TiE) has a singular focus on wealth creation through entrepreneurship by inspiring and educating budding entrepreneurs among several other activities. TiE holds regular workshops and networking meetings and VITTBI makes the best use of this opportunity to promote incubation at VITTBI. </p>
              <a href="#/events"><img  class="km" src="images/km.png"/></a>
          </div>
          </div>
         
        </div>

        <div class="item container">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6  col-xs-6 sliderimage" src="../images/sliderimage3.jpg" alt="Flower">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text">
              <h1>Silicon India Startup City</h1>
              <p class="pdescription"> VITTBI took part in the exhibitions organized by Silicon India Startup city in Chennai and Bangalore
              <ul>
                      <li>Chennai on 20th March 2010</li>
                      <li>Bangalore on 28th May, 2011</li>
                      <li>25th February, 2012</li>
                      <li>Siliconindia Startupcity, 2nd June 2012</li>
                      <li>Silicon India in Bangalore on 22nd June, 2013</li>
                      </ul></p>
              <a href="#/events"><img  class="km" src="images/km.png"/></a>
          </div>
          </div>
        </div>

         <div class="item container">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6 col-xs-6 sliderimage" src="../images/sliderimage4.jpg" alt="Flower">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text">
              <h1> VITTBI and Kramski Stamping and Molding India Private Ltd., towards an Electronic cluster in Vellore District</h1>
              <p class="pdescription">Several units in Vellore district are engaged in the manufacture of electronic components and products, and mechanical components used in electronic products, but there is no coordination among them for the purpose of availing incentives given by the Central and State governments for expanding their business activities. 

                    Under these circumstances, Kramski Stamping and Molding India Private Ltd., and the Vellore Institute of Technology-Technology Business Incubator (VITTBI) organised an Electronic Cluster Initiative at the Kramski factory premises in Erayankadu village</p>
              <a href="#/events"><img  class="km" src="images/km.png"/></a>
          </div>
          </div>
        </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    </div>
    <div class="container2" id="news" ng-show="tbictrl.isSelected(2)">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item container active">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6 col-xs-6 sliderimage" src="../images/eac2.jpg" alt="Chania">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text">
              <h1>Entrepreneurship Awareness Camp</h1>
              <p class="pdescription">The Entrepreneurship Awareness Camp is a 3-day non-residential programme covering the nuances of entrepreneurship. The sessions are designed in line with the guidelines provided by the supporting organizations. The sessions are interspersed with lectures, interactions, panel discussions and experiential learning workshops. About 75 degree and diploma students from different disciplines of Engineering, Science and Management participate in these camps. These camps are open to students within VIT University and other institutes in the region.</p>
              <img href="#/training" class="km" src="images/km.png">
          </div>
        </div>
       </div>
        <div class="item container">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6  col-xs-6 sliderimage" src="../images/fdp.jpg" alt="Chania">
          <div class="col-lg-8 col-md-8 col-sm-6  col-xs-6 text">
              <h1>Faculty Development Programme on Entrepreneurship, Innovation & Incubation</h1>
              <p class="pdescription">The programme is aimed at training about 25 aspiring science and technology graduates and the diploma holders in the essentials of conceiving, planning, initiating and launching an economic activity or an enterprise successfully. This is a 4 week non-residential programme that includes industry visits.</p>
              <img href="#/training" class="km" src="images/km.png">
          </div>
          </div>
         
        </div>

        <div class="item container">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6  col-xs-6 sliderimage" src="../images/tedp1.jpg" alt="Flower">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text">
              <h1>Technology Entrepreneurship Development Programme</h1>
              <p class="pdescription">The Technology Entrepreneurship Training Program (TEDP) is essentially an Accelerated Business Coaching Programme on specific areas like Embedded Systems , Food Processing etc., The main objective of the programme is to expose the participants to the requisite skills, knowledge and competencies for equipping themselves to start their venture in the chosen area of interest. The qualifying startups from this program can get incubation support and access to seed funds (maximum of Rs.50 lakhs / venture) from VITTBI. The business and technical sessions are handled by experienced faculty, industry experts and entrepreneurs. The programme includes one or more industry visits in the chosen domain. About 25 participants are accommodated per programme. </p>
              <img href="#/training" class="km" src="images/km.png">
          </div>
          </div>
        </div>

         <div class="item container">
        <div class="row">
          <img class="col-lg-4 col-md-4 col-sm-6 col-xs-6 sliderimage" src="../images/edp1.jpg" alt="Flower">
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 text">
              <h1>Entrepreneurship Development Programme</h1>
              <p class="pdescription">The most crucial change agents in the process of developing young entrepreneurs are teachers with adequate skills, knowledge and information in the area of Entrepreneurship. The Faculty Development Programme (FDP) in Entrepreneurship is designed to train professionals in Entrepreneurship development so that they can act as “Resource Persons” in guiding and motivating young students, particularly from science, engineering and technology streams to take up entrepreneurship as a career option. This is a 2-week residential programme that is open to faculty from all over India. About 25 faculties participate in this very engaging programme comprising of intensive lectures, group activities, case studies and experiential teaching –learning sessions apart from industry visits.</p>
              <img href="#/training" class="km" src="images/km.png">
          </div>
          </div>
        </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    </div>
    </div>

