<script src="../js/jquery.js"></script>
<script src="../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });
    
</script>
<div id="home" >
<div class="row">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
 

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
     <!-- Overlay -->
 <!--  <div class="overlay"></div> -->
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <img src="../images/slogan.png" style="max-width:500px;width:100%;max-height:480px;">        
            
      </div>
    </div>
    <div class="item slides">
    <!-- Overlay -->
     <!-- <div class="overlay"></div> -->
      <div class="slide-2"></div>
       <div class="hero">        
        <hgroup>
            <h2>Big ideas from young minds leading to Inherent Innovation</h2>

            
        </hgroup>       
        
      </div>
    </div>
     <div class="item slides">
    <!-- Overlay -->
     <!-- <div class="overlay"></div> -->
      <div class="slide-3"></div>
       <div class="hero">        
          
        
      </div>
    </div>
    <div class="item slides">
      <!-- <div class="overlay"></div> -->
      <div class="slide-4"></div>
      <div class="hero">        
        <hgroup>
        <h1>Nurturing to be the best</h1>
        <a class="btn btn-hero btn-lg" href="#/apply" role="button">Apply Now</a>
            </hgroup>   
      </div>
    </div>
   
  </div> 
</div>
</div>
</div>
<div class="container">
  <div class="about col-lg-12 col-md-12">
    <h1 >About VIT-TBI</h1>
    <p >VIT TBI (Technology Business Incubator) has been established at Vellore Institute 
of Technology with the Sponsorship of the Department of Science and Technology,
Government  of India to assist budding entrepreneurs like you to incubate your 
technology venture.</p>
 </div>
    </div>
  
     <div class="container">
    <div class="description row ">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="grey-box">
            <h2>Our Startups</h2>
            <p><ul>
            <li><a href="#/underincubation">Startups Under Incubation</a></li>
            <li><a href="#/graduated">Graduated Startups</a></li>
            <li><a href="#/anchorcompanies">Anchor Companies</a></li>
            </ul>/</p>
            <img src="../images/rocket.png" class="back">
    
          </div>
          </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="grey-box">
            <h2>Core Facilities</h2>
            <ul style="padding-bottom:10px;">
            <li><a href="#/infrastructure">Infrastructure</a></li>
            <li><a href="#/funding">Access to Funding</a></li>
            <li><a href="#/talent">Access to Talent</a></li>
            <li><a href="#/taxexemption">Service Tax Exemption</a></li>
            </ul>
            <img src="../images/persona.png" class="back">
            <a class="learnmore" href="#/about">Learn More</a>
            </div>
          </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="orange-box">
            <h2><a href="#/apply">Apply Now</a></h2>
            <li style="font-size:20px !important;color:white;">Newsletters</li>
            <ul class="newsletters col-sm-6 col-xs-6">
            <li><a target="_a" href="http://vittbi.com/testing/newsletters/VITTBI%20News_April2015.pdf">Apr 2015</a></li>
            <li><a target="_a" href="http://vittbi.com/testing/newsletters/Oct14.pdf">Oct 2014</a></li>
            <li><a target="_a" href="http://vittbi.com/testing/newsletters/March14.pdf">Mar 2014</a></li>
            </ul>
            <ul class="newsletters col-sm-6 col-xs-6">
            <li><a target="_a" href="http://vittbi.com/testing/newsletters/Oct13.pdf">Oct 2013</a></li>
            <li><a target="_a" href="http://vittbi.com/testing/newsletters/VITTBI_NewsLetter_Oct13.pdf">Apr 2013</a></li>
            <li><a target="_a" href="http://vittbi.com/testing/newsletters/VITTBI_NewsLetter_Oct12.pdf">Oct 2012</a></li>
            </ul>
            <img src="../images/folks.png" class="back"/>
            <a class="learnmore" href="#/apply">Learn More</a>
            </div>
          </div>
            
          </div>
      </div>

    <div id="Mainbody"  ng-controller="tbiController as tbictrl">
 <div class="sliders">
    <div id="wrap" class="links">
      <li class="menu col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{ 'btn-active' : tbictrl.isSelected(1) }" ng-click="tbictrl.selectTab(1)"><a class="linkicons"href="#"data-id="upc">Upcoming Events & Press Coverage</a>
      <span><img class="icon"src="images/upc.png"></span></li>
      <li class="menu col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-class="{ 'btn-active' : tbictrl.isSelected(2) }" ng-click="tbictrl.selectTab(2)"><a class="linkicons"href=""data-id="news">VITTBI Network</a>
      <span><img class="icon"src="images/events.png"></span> </li>
    </div>
    </div>
    <div class="container2" id="upc" ng-show="tbictrl.isSelected(1)">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
         <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item container active">
        <div class="row">
          <!-- <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sliderimage" src="../images/sliderimage.jpg" alt="Chania"> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text">
              <h1>Entrepreneurship Camp</h1>
              <p>3-day Entrepreneurship camp for students of Engineering, Technology and Management Institutions and Polytechnics. Dates will be announced shortly.
                </p>
               <h5 class="bold">Write to us at vittbi@vit.ac.in, vittbi@yahoo.co.in to know more.</h5>
              
          </div>
        </div>
       </div>
        <div class="item container">
        <div class="row">
          <!--< img class="col-lg-4 col-md-4 col-sm-6  col-xs-12 sliderimage" src="../images/sliderimage2.jpg" alt="Chania"> -->
          <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12 text">
              <h1>Technology Entrepreneurship Development Programme</h1>
              <p>6-week Technology Entrepreneurship Development Programme in Food Processing  for graduates/diploma holders in Engineering and Science. Dates will be announced shortly.</p>
              <h5 class="bold">Write to us at vittbi@vit.ac.in, vittbi@yahoo.co.in to know more.</h5>
          </div>
          </div>
         
        </div>

        <div class="item container">
        <div class="row">
  
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text">
              <h1>Faculty Development Programme</h1>
              <p> 2-week Faculty Development Programme on Entrepreneurship, Innovation and Incubation in June 2016</p>
              <h5 class="bold">Write to us at vittbi@vit.ac.in, vittbi@yahoo.co.in to know more.</h5>
          </div>
          </div>
        </div>

        <div class="item container">
        <div class="row">
        <!--   <img class="col-lg-4 col-md-4 col-sm-6 col-xs-12 sliderimage" src="../images/sliderimage4.jpg" alt="Flower"> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text">
              <h1> VITTBI and Kramski Stamping and Molding India Private Ltd., towards an Electronic cluster in Vellore District</h1>
              <p>Several units in Vellore district are engaged in the manufacture of electronic components and products, and mechanical components used in electronic products, but there is no coordination among them for the purpose of availing incentives given by the Central and State governments for expanding their business activities. 

                    Under these circumstances, Kramski Stamping and Molding India Private Ltd., and the Vellore Institute of Technology-Technology Business Incubator (VITTBI) organised an Electronic Cluster Initiative at the Kramski factory premises in Erayankadu village. Visit <a href="http://www.thehindu.com/todays-paper/tp-national/tp-tamilnadu/first-move-towards-electronic-cluster-in-vellore-district/article4816691.ece" target="_a">here</a></p>
              <a href="http://www.thehindu.com/todays-paper/tp-national/tp-tamilnadu/first-move-towards-electronic-cluster-in-vellore-district/article4816691.ece"><img  class="km" src="images/km.png"/></a>
          </div>
          </div>
        </div>
       
         <div class="item container">
        <div class="row">
        
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text">
              <h1>  TiE and EDI in collaboration with VITTBI plan to assist Engineering Colleges set up incubation centres.</h1>
              
              <a href="../images/TiE.jpg" target="_a"><img  class="km" src="images/km.png"/></a>
          </div>
          </div>
        </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    </div>
    <div class="container2" id="news" ng-show="tbictrl.isSelected(2)">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
            

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item container active">
        <div class="row">
          <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sliderimage" src="../images/network1.jpg" alt="Chania">
          
        </div>
       </div>
       
      <!-- Left and right controls -->
     
    </div>
    </div>
    </div>
    </div>

