<script type="text/javascript">
/*$(function () {

	// body...
	$('.arrow-img').on('click',function(){
    $(this).toggleClass('rotate');
	$(this).toggleClass('rotate2');
});
});

*/
</script>
<div class="container panel1 col-lg-12 col-md-12 col-sm-12 col-xs-12" >
<a >Infrastructure Access</a>
</div>

<div class="container"  ng-controller="panelController as panelctrl">
<div class="panel container ">
  <!-- Default panel contents -->
  
  <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><img class="innovation" src="../images/innovation.png"/></div>
  
  <div class="panel-heading col-lg-11 col-md-11 col-sm-11 col-xs-11 panelmainmenu">Product Innovation Center
  </div>
 
  <!-- List group -->          
            
   <div id="menu" >
   <div class="panel list-group">
   <div href="#" class="list-group-item panelmenu arrow" ng-class="{ 'btn-active2' : panelctrl.isSelected(1) }" ng-click="panelctrl.selectTab(1)"  data-parent="#menu">Rapid Prototyping</div>
    <div class="list-group-item panelmenu arrow" ng-class="{ 'btn-active2' : panelctrl.isSelected(2) }" ng-click="panelctrl.selectTab(2)" data-parent="#menu">Analytical Instrumentation</div>
       
    <div href="#" class="list-group-item panelmenu arrow"  ng-class="{ 'btn-active2' : panelctrl.isSelected(3) }" ng-click="panelctrl.selectTab(3)" class="arrow"data-parent="#menu">Office Space</div>
   </div>
   </div>
   </div>
  
   
   <div id="rapid" class="container white-box" ng-show="panelctrl.isSelected(1)">
                 <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                 <h2>Here is a Solution to see your Idea’s come Alive:</h2>

              <p>Vellore Institute of Technology –Technology Business Incubator (VIT-TBI) is offering Product development support with its Rapid Prototyping Facility. In order to cater to the emerging requirements (multiple materials, bigger build sizes and material properties equivalent to that of injection moulded parts), VITTBI expanded the Rapid Prototyping facility with a FDM Titan model Stratasys make equipment.</p>
              </div>
              <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
               <img  class="imageabout1"  style="margin-top: 15px;" src="../images/rapid1.jpg" />
               </div>
               <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
                <h2>FDM TITAN Ti</h2>
                   <div class="table-responsive">
                 <table class="table pull-left col-md-8 "> 
                 <tbody> 
                 <tr> 
                 <td class="h61"> <strong>Make :</strong></td> <td> </td><td class="h51">Stratasys USA</td> </tr>  
                  <tr> <td class="h61"><strong>Model :</strong></td> <td> </td> <td class="h51"> FDM TITAN Ti</td> </tr> 
                  <tr> <td class="h61"><strong>Bed Size :</strong></td> <td> </td> <td class="h51">406 x 355 x 406 MM.</td> </tr>
                   <tr> <td class="h61"><strong>Multiple Materials : </strong></td> <td> </td> <td class="h51">ABS, ABSi, PC, PC-ABS, PC-ISO, PPSF.</td> </tr> 
                   
                     </tbody> 
                     </table>
              </div>
              </div>
              </div>
              <div class="row">
              <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
               <img class="imageabout1"   style="margin-top: 35px;" src="../images/rapid3.jpg" />
               </div>
               <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
                  <h2>Dimension</h2>
                   <div class="table-responsive">
                 <table class="table pull-left col-md-8 "> 
                 <tbody> 
                 <tr> 
                 <td class="h61"> <strong> Make :</strong></td> <td> </td><td class="h51">Stratasys USA </td> </tr>  
                  <tr> <td class="h61"><strong>Model :</strong></td> <td> </td> <td class="h51">FDM-DIMENSION-0933, Version 2.5</td> </tr> 
                  <tr> <td class="h61"><strong>Build Size :</strong></td> <td> </td> <td class="h51">203 x 203 x 305 mm</td> </tr>
                   <tr> <td class="h61"><strong>Material :</strong></td> <td> </td> <td class="h51"> ABS Plastic</td> </tr> 
                   <tr> <td class="h61"><strong>Thickness :</strong></td> <td> </td> <td class="h51">0.245mm or 0.33mm</td> </tr> 
                   <tr> <td class="h61"><strong>Wall Thickness :</strong></td> <td> </td> <td class="h51">0.60mm</td> </tr>
                    
                     </tbody> 
                     </table>
              </div>
              </div>
              </div>
              <div class="row ">
              <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
                <img class="imageabout1"  style="margin-top: 80px;"src="../images/rapid4.jpg" />
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
                      <h2>Prodigy Plus</h2>
                   <div class="table-responsive">
                 <table class="table pull-left col-md-8 "> 
                 <tbody> 
                 <tr> 
               <td class="h61"> <strong> Make :</strong></td> <td> </td><td class="h51">Stratasys USA </td> </tr>  
                  <tr> <td class="h61"><strong>Model :</strong></td> <td> </td> <td class="h51">FDM-Prodigy Plus-P2824, Version 4.5</td> </tr> 
                  <tr> <td class="h61"><strong>Build Size :</strong></td> <td> </td> <td class="h51">203 x 203 x 305 mm</td> </tr>
                   <tr> <td class="h61"><strong>Material :</strong></td> <td> </td> <td class="h51"> ABS Plastic</td> </tr> 
                   <tr> <td class="h61"><strong>Thickness :</strong></td> <td> </td> <td class="h51">0.1778mm (Prodigy Plus) 0.245mm or 0.33mm</td> </tr> 
                   <tr> <td class="h61"><strong>Wall Thickness :</strong></td> <td> </td> <td class="h51">0.60mm</td> </tr>
                    
                     </tbody> 
                     </table>
                     </div>
              </div>
              </div>
              <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <img class="imageabout1" style="margin-bottom: 27px;max-width: 550px;" src="../images/customers.jpg" />
                 </div>
              <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
              <h2>This system builds models including external features quickly, directly from CAD STL files.</h2>

              <p>ACCEPTABLE FILE FORMATS :</p>
              <ul>     
                <li>Auto CAD</li>
                <li>CATIA  </li>
                <li>I-DEAS</li>
                <li>Image ware</li>
                <li>Pro / Engineer</li>
                <li>Solid Edge & Solid Works</li>
                <li> Unigraphics</li>
              </ul>
              </div>
              
                 </div>
   </div>



   <div id="gc" class="container white-box"ng-show="panelctrl.isSelected(2)" >
           <div class="row">
             <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
             <img class="imageabout1" style="margin-top: 100px;" src="../images/gas_chromatograph.jpg">
             </div>
             <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
             <h2>GAS CHROMATOGRAPH</h2>
             <table class="table pull-left col-md-8 "> 
           <tbody> 
           <tr> 
         <td class="h61"> <strong> Model :</strong></td> <td> </td><td class="h51"> NUCON 5765  </td> </tr>
            <tr> <td class="h61"><strong>Column :</strong></td> <td> </td> <td class="h51">3% OV –101 & 15% DEGS
        </td> </tr> 
            <tr> <td class="h61"><strong>Capillary Column  :</strong></td> <td> </td> <td class="h51"> BPX 70</td> </tr>
             <tr> <td class="h61"><strong>Detector :</strong></td> <td> </td> <td class="h51">Flame Ionization Detector & Thermal Control Detector</td> </tr> 
             <tr> <td class="h61"><strong>Injector  :</strong></td> <td> </td> <td class="h51">Dual Injector</td> </tr> 
              <tr> <td class="h61"><strong>Controller  :</strong></td> <td> </td> <td class="h51">µp Based Temperature Controller</td> </tr> 
              
               </tbody> 
               </table>
               </div>
               </div>
                <div class="row">
   <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
             <img class="imageabout1" style="margin-top: 100px;" src="../images/hplc.jpg">
             </div>
   <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
     <h2>HIGH PERFORMANCE LIQUID CHROMATORGRAPH</h2>

      <table class="table pull-left col-md-8 "> 
         <tbody> 
         <tr> 
       <td class="h61"> <strong> Model :</strong></td> <td> </td><td class="h51"> Waters  </td> </tr>
          <tr> <td class="h61"><strong>Pump :</strong></td> <td> </td> <td class="h51">Waters 1525 Binary HPLC Pump (Max. Pressure: 6000 psi & Flow Rate: 0 – 10ml/min)</td> </tr> 
          <tr> <td class="h61"><strong>Detector :</strong></td> <td> </td> <td class="h51"> Waters 2487 Dual l Absorbance Detector (l : 190 to 700 nm)</td> </tr>
           <tr> <td class="h61"><strong>Column : </strong></td> <td> </td> <td class="h51">Symmetry C 18 5 µm 4.6 x 150 mm</td> </tr> 
           <tr> <td class="h61"><strong>Injector :</strong></td> <td> </td> <td class="h51">Rheodyne Manual Injector with5µ1, 20µ1, 50µ1 & 200µ1 loops</td> </tr> 
           
            
             </tbody> 
             </table>
             </div>
             </div>
              <div class="row">
             <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
               <img class="imageabout1" style="margin-top: 80px;" src="../images/atomic_main.jpg">
               </div>
               <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
                 <h2> Atomic Absorption Spectrometer</h2>
                 <div class="table-responsive">
          <table class="table pull-left col-md-8 "> 
             <tbody> 
             <tr> 
           <td class="h61"> <strong> Model :</strong></td> <td> </td><td class="h51"> VARIAN SPECTRAA240   </td> </tr>
              <tr> <td class="h61"><strong>Sample Volume :</strong></td> <td> </td> <td class="h51">Air/Acetylene burner, N2O/Acetylene burner</td> </tr> 
              <tr> <td class="h61"><strong>Burner :</strong></td> <td> </td> <td class="h51">Ag, Al, As, Au, B, Ba, Ca, Cd, Co, Cr, Cs, Cu, Fe, Hg, Mg Mn, Mo, Ni, Pb, Pt, Se, Si, Sn, Ti, Zn</td> </tr>
               <tr> <td class="h61"><strong>Application :</strong></td> <td> </td> <td class="h51"> To measure heavy metals in agricultural, mineral, industrial, chemical, petroleum and pollution fields</td> </tr> 
                 </tbody> 
                 </table>
                 </div>
                 </div>
                 </div>
                   <div class="row">
           <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3">
            <img class="imageabout1" style="margin-top: 80px;" src="../images/uviv.jpg" />
            </div>
            <div class="col-lg-9 col-md-9 col-xs-12 col-sm-9">
            <h2> UV-IV's</h2>
               <div class="table-responsive">
           <table class="table pull-left col-md-8 "> 
           <tbody> 
           <tr> 
         <td class="h61"> <strong> Model :</strong></td> <td> </td><td class="h51"> Hitachi U-2800  </td> </tr>
            <tr> <td class="h61"><strong>Optics :</strong></td> <td> </td> <td class="h51">Double Beam</td> </tr> 
            <tr> <td class="h61"><strong>Wavelength Range :</strong></td> <td> </td> <td class="h51">190 to 1100 nm</td> </tr>
             <tr> <td class="h61"><strong>Stray Light :</strong></td> <td> </td> <td class="h51">0.05% or less</td> </tr> 
             <tr> <td class="h61"><strong>Wavelengh Accuracy :</strong></td> <td> </td> <td class="h51">+.3/-.3 nm</td> </tr> 
             <tr> <td class="h61"><strong>Wavelengh Sacn Speed :</strong></td> <td> </td> <td class="h51"> 10,100,200,400, 800, 1200, 2400, 3000 nm/min</td> </tr>
                <tr> <td class="h61"><strong>Light Source :</strong></td> <td> </td> <td class="h51">Deuterium Lamp, Tungsten Lodide Lamp (AutomaticSwitching)</td> </tr> 
             <tr> <td class="h61"><strong>Detector :</strong></td> <td> </td> <td class="h51"> Silicon Photodiode</td> </tr>
              
              
               </tbody> 
               </table>
        </div>
        </div>
        </div>
                <h2>VIT-TBI Bio Lab Customers</h2>
             <img class="imageabout"src="../images/customers2.jpg"/>
   </div>
   
   <div id="office" class="container white-box" ng-show="panelctrl.isSelected(3)">
        <div class="row">
         <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
         <h3>A Conference room with LCD projection facility / Discussion Hall / Photocopier / DTP / Scanner / Telephone – Fax / Secretarial Access.</h3>
         </div>
         <!-- <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
           <img class="imageabout1"  style="max-width: 417px;margin: 30px 40px 30px 20px;margin-top: 30px;margin-right: 40px;margin-left: 20px;" src="../images/conference.jpg" />
           <img class="imageabout1" style="max-width: 417px;margin: 30px 40px 30px 20px;margin-top: 30px;margin-right: 40px;margin-left: 20px;" src="../images/hall.jpg" />
           <img class="imageabout1" style="max-width: 417px;margin: 30px 40px 30px 20px;margin-top: 30px;margin-right: 40px;margin-left: 20px;" src="../images/hall.jpg" />
           <img class="imageabout1" style="max-width: 417px;margin: 30px 40px 30px 20px;margin-top: 30px;margin-right: 40px;margin-left: 20px;" src="../images/hall.jpg" />
           </div> -->
           <div class="container"> 
    <div class="row"> 
    
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/officespace3.jpg" />
    </div> 
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/officespace1.jpg" />
    </div> 
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/officespace2.jpg" />
    </div> 
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/officespace4.jpg" />
    </div> 
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/conference.jpg" />
    </div> 
    </div>
     </div>
         </div>
         </div>
  
    </div>

   
      
            