<div class="common main container">
	


	<h1>Intellectual Property Rights (IPR) Cell</h1>
	<p>The IPR cell is to facilitate and guide in filing patent applications by the faculty, research scholars and students. The IPR cell will be a single point contact for all IPR related requirements covering awareness creation, patent filing and commercialization support. The cell at the present time is functioning from VITTBI and is constituted with the following members:</p>
	<ul>
		<li>Dr. R. Natarajan – Director, CO2 Research Centre - Convenor</li>
		<li>Dr. S. Babu – Associate Dean, Research - Member</li>
		<li>Dr. K. Ganesan – Director, TIFAC CORE - Member</li>
		<li>Mr. A. Balachandran – General Manager, TBI – Member Secretary</li>
	</ul>
	
	
	
	
</div>