<div class="main common container">
<h1>Mentoring</h1>
<p>
VIT-TBI gives at most importance to mentorship and believes that the shared wisdom from experience can alleviate probable challenges in the journey of an entrepreneur. It therefore offers mentoring support through a mentor pool consisting of senior faculty from within the University and as well from Entrepreneurs, Business Consultants, Industry experts from its network. The incubatees are referred to relevant expertise as and when business coaching is required. Business coaching includes business modeling and business plan preparation and a host of other advisory support.</p>
</div>