
<script type="text/javascript">
    
    $(document).ready(function(){
          $('#show').on('click',function(){  
          var panelid =$(this).attr('data-cardId');      
        $(panelid).slideToggle('slow');
    });
    
    $('.card-reveal .close').on('click',function(){
        $(panelid).slideToggle('slow');
    });

       /* $('.btn-custom').on('click',function(){ 

        var panelid1=$(this).attr('data-openId'); 
        var panelid3=$(this).attr('data-cardId');
        var panelid2=$(this).attr('data-closeId');
        $(panelid3).slideToggle('slow');
        });
        
        $('.close').on('click',function(){
            $(panelid3).slideToggle('slow');
        });*/
    });
    
    
    </script>
    <div ng-controller="puiController as puictrl">
 <div class="main container">
 <div ng-click="puictrl.selectTab(1)"class="puiheads col-lg-4 col-md-4 col-sm-4 col-xs-4">
 <h1>Projects Under Startup</h1>
     
 </div>
     <div ng-click="puictrl.selectTab(2)"class="puiheads col-lg-4 col-md-4 col-sm-4 col-xs-4">
 <h1>Graduated Startups</h1>
     
 </div><div ng-click="puictrl.selectTab(3)"class="puiheads col-lg-4 col-md-4 col-sm-4 col-xs-4">
 <h1>Anchor Companies</h1>
     
 </div>
 </div>
<div class="main container" ng-show="puictrl.isSelected(1)">
    <div class="row">    
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../images/companylogo.jpg">
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <img src="../images/dots_1.svg" width="5" height="23" />
                    </button>
                </div><!-- card content -->
                !-- card actions -->
                <div data-cardId="1"class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../images/companylogo.jpg">
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <img src="../images/dots_1.svg" width="5" height="23" />
                    </button>
                </div><!-- card content -->
                <!-- card actions -->
                <div data-cardId="2" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3"class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div> -->
        <div class="col-md-4 col-md-4">
                  <div class="card">
                      <div class="card-image">
                          <img class="img-responsive" src="../images/companylogo.jpg">
                          
                      </div><!-- card image -->
                      
                      <div class="card-content">
                          <span class="card-title">Material Cards</span>                    
                          <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                              <img src="../images/dots_1.svg" width="5" height="23" />
                          </button>
                      </div><!-- card content -->
                      <div data-cardId="4"class="card-reveal">
                          <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div><!-- card reveal -->
                  </div>
              </div>

    </div>
    <!-- <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="../../images/companylogo.jpg">
                    
                </div>card image
                
                <div class="card-content">
                    <span class="card-title">STARTUP</span>                    
                    <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>card content
                card actions
                <div data-cardId="3" class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>card reveal
            </div>
        </div>
    </div> -->
    </div>
    <div class="main container" ng-show="puictrl.isSelected(2)">
        <div class="row">    
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="../images/companylogo.jpg">
                        
                    </div><!-- card image -->
                    
                    <div class="card-content">
                        <span class="card-title">Graduated Company</span>                    
                        <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                            <img src="../images/dots_1.svg" width="5" height="23" />
                        </button>
                    </div><!-- card content -->
                    !-- card actions -->
                    <div data-cardId="1"class="card-reveal">
                        <span class="card-title">Card Title</span> <button type="button" data-closeId="2" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div><!-- card reveal -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="../images/companylogo.jpg">
                        
                    </div><!-- card image -->
                    
                    <div class="card-content">
                        <span class="card-title">Graduated Company</span>                    
                        <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                            <img src="../images/dots_1.svg" width="5" height="23" />
                        </button>
                    </div><!-- card content -->
                    <!-- card actions -->
                    <div data-cardId="2" class="card-reveal">
                        <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div><!-- card reveal -->
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="../../images/companylogo.jpg">
                        
                    </div>card image
                    
                    <div class="card-content">
                        <span class="card-title">STARTUP</span>                    
                        <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </div>card content
                    card actions
                    <div data-cardId="3"class="card-reveal">
                        <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>card reveal
                </div>
            </div> -->
            <div class="col-md-4 col-md-4">
                      <div class="card">
                          <div class="card-image">
                              <img class="img-responsive" src="../images/companylogo.jpg">
                              
                          </div><!-- card image -->
                          
                          <div class="card-content">
                              <span class="card-title">Graduated Company</span>                    
                              <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                                 <img src="../images/dots_1.svg" width="5" height="23" />
                              </button>
                          </div><!-- card content -->
                          <div data-cardId="4"class="card-reveal">
                              <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                          </div><!-- card reveal -->
                      </div>
                  </div>

        </div>
        </div>

 <div class="main container" ng-show="puictrl.isSelected(3)">
        <div class="row">    
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="../images/companylogo.jpg">
                        
                    </div><!-- card image -->
                    
                    <div class="card-content">
                        <span class="card-title">Anchor Company</span>                    
                        <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                            <img src="../images/dots_1.svg" width="5" height="23" />
                        </button>
                    </div><!-- card content -->
                    !-- card actions -->
                    <div data-cardId="1"class="card-reveal">
                        <span class="card-title">Card Title</span> <button type="button" data-closeId="2" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div><!-- card reveal -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="../images/companylogo.jpg">
                        
                    </div><!-- card image -->
                    
                    <div class="card-content">
                        <span class="card-title">Anchor Company</span>                    
                        <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                            <img src="../images/dots_1.svg" width="5" height="23" />
                        </button>
                    </div><!-- card content -->
                    <!-- card actions -->
                    <div data-cardId="2" class="card-reveal">
                        <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div><!-- card reveal -->
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="../../images/companylogo.jpg">
                        
                    </div>card image
                    
                    <div class="card-content">
                        <span class="card-title">STARTUP</span>                    
                        <button type="button" data-openId="1" class="btn-custom pull-right" aria-label="Left Align">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </div>card content
                    card actions
                    <div data-cardId="3"class="card-reveal">
                        <span class="card-title">Card Title</span> <button type="button" data-closeId="2"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>card reveal
                </div>
            </div> -->
            <div class="col-md-4 col-md-4">
                      <div class="card">
                          <div class="card-image">
                              <img class="img-responsive" src="../images/companylogo.jpg">
                              
                          </div><!-- card image -->
                          
                          <div class="card-content">
                              <span class="card-title">Anchor Company</span>                    
                              <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                                  <img src="../images/dots_1.svg" width="5" height="23" />
                              </button>
                          </div><!-- card content -->
                          <div data-cardId="4"class="card-reveal">
                              <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                          </div><!-- card reveal -->
                      </div>
                  </div>

        </div>
        
        </div>


</div>