<div class="common main container">
<h1>Soft Landing Support</h1>
<h2>Soft Landing Support to a German SME </h2 target="_a">
<p>Kramski GMBH, a German based SME is setting up a manufacturing unit named KRAMSKI Stamping and Molding India Pvt. Ltd., in Vellore. The company will be investing around Rs.10 crores and there is an employment potential for about 100 people. Considering the synergy, VITTBI has accepted the Kramski’s request for providing soft launching of their venturing in Vellore. VITTBI will offer a complete range of Business Incubation support to facilitate launch of this business. The activities of this company commenced on 31-12-07. Currently, it’s a Rs.30 Crores company employing 70 persons. The association continues! </p>
<a target="_a" href="http://www.vittbi.com/soft_launch.html">Ground-breaking Ceremony</a>
<h2>Smithline Reinforced Composites FZC</h2>
<p>A UAE based firm was inducted for Soft landing support to set up their manufacturing plant near Vellore. The company has acquired land and commenced activities from their Project office in our TBI. </p>


<div class="container"> 
  	<div class="row"> 
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  	<img class="img-responsive" src="../images/soft1.jpg" />
  	</div> 
  	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><img class="img-responsive" src="../images/soft2.gif" />

  	</div> 
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <img class="img-responsive" src="../images/soft3.jpg" />
    </div> 
  	
    </div>
    </div>

<a target="_a" href="http://www.vittbi.com/SOFT_LAND.HTML">Soft Landing facility for Indian startups in New Zealand</a>





	
</div>