<div class="main common container">
	
<h3>VIT-TBI offers Entrepreneurship Development Programmes to focused groups for promoting entrepreneurship culture among students and industries in and around VIT.</h3>

  <div id="entrepreneurship" class="common col-lg-12 col-md-12 col-sm-12 col-xs-12">
  	<h1>Entrepreneurship Awareness Camp</h1>
  	<p>The Entrepreneurship Awareness Camp is a 3-day non-residential programme covering the nuances of entrepreneurship. The sessions are designed in line with the guidelines provided by the supporting organizations. The sessions are interspersed with lectures, interactions, panel discussions and experiential learning workshops. About 75 degree and diploma students from different disciplines of Engineering, Science and Management participate in these camps. These camps are open to students within VIT University and other institutes in the region. </p>
  	<div class="container"> 
  	<div class="row"> 
  	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
  	<img class="img-responsive" src="../images/eac1.jpg" />
  	</div> 
  	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/eac2.jpg" />
  	</div> 
  	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/eac3.jpg" />
  	</div> 
  	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/eac4.jpg" />
  	</div> 
    </div>
    </div>
  	
  	 

  </div>
   <div id="facultydev" class="common col-lg-12 col-md-12 col-sm-12 col-xs-12">
   	<h1>Faculty Development Programme on Entrepreneurship, Innovation & Incubation</h1>
   	<p>The programme is aimed at training about 25 aspiring science and technology graduates and the diploma holders in the essentials of conceiving, planning, initiating and launching an economic activity or an enterprise successfully. This is a 4 week non-residential programme that includes industry visits.</p>
     <div class="container"> 
     <div class="row"> 
     
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/fdp.jpg" />
     </div> 
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/fdp2.jpg" />
     </div> 
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/fdp3.jpg" />
     </div> 
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/fdp4.jpg" />
     </div> 
     
     </div>
      </div>
   </div>
    <div id="tedp" class="common col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<h1>Technology Entrepreneurship Development Programme</h1>
    	<p>The Technology Entrepreneurship Training Program (TEDP) is essentially an Accelerated Business Coaching Programme on specific areas like Embedded Systems , Food Processing etc., The main objective of the programme is to expose the participants to the requisite skills, knowledge and competencies for equipping themselves to start their venture in the chosen area of interest. The qualifying startups from this program can get incubation support and access to seed funds (maximum of Rs.50 lakhs / venture) from VITTBI. The business and technical sessions are handled by experienced faculty, industry experts and entrepreneurs. The programme includes one or more industry visits in the chosen domain. About 25 participants are accommodated per programme. </p>
        <div class="container"> 
        <div class="row"> 
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/tedp1.jpg" />
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/tedp2.jpg" />
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/tedp3.jpg" />
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/tedp4.jpg" />
        </div> 
        </div> 
        </div>
         </div>
    
     <div id="epd" class="common col-lg-12 col-md-12 col-sm-12 col-xs-12">
     	<h1>Entrepreneurship Development Programme</h1>
     	<p>The most crucial change agents in the process of developing young entrepreneurs are teachers with adequate skills, knowledge and information in the area of Entrepreneurship. The Faculty Development Programme (FDP) in Entrepreneurship is designed to train professionals in Entrepreneurship development so that they can act as “Resource Persons” in guiding and motivating young students, particularly from science, engineering and technology streams to take up entrepreneurship as a career option. This is a 2-week residential programme that is open to faculty from all over India. About 25 faculties participate in this very engaging programme comprising of intensive lectures, group activities, case studies and experiential teaching –learning sessions apart from industry visits. </p>
           <div class="container"> 
        <div class="row"> 
        
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/edp1.jpg" />
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/edp2.jpg" />
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/edp3.jpg" />
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../images/edp4.jpg" />
        </div> 
        </div> 
        </div>

</div>
</div>
