<!doctype html>
<html ng-app="tbi">
<head>
  <meta charset="utf-8">
  <title>Facilities & Services | VIT-TBI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../css/main.css">
  <link rel="stylesheet" type="text/css" href="services.css">
  <script src="../../js/jquery.js"></script>
  <script src="../../js/tbi.js"></script>
  <script src="../../js/smooth-scroll.js"></script>
  <script type="text/javascript" src="../../js/angular.min.js"></script>
  <script type="text/javascript" src="../../js/angular-animate.min.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {   
                var sideslider = $('[data-toggle=collapse-side]');
                var sel = sideslider.attr('data-target');
                var sel2 = sideslider.attr('data-target-2');
                sideslider.click(function(event){
                    $(sel).toggleClass('in');
                    $(sel2).toggleClass('out');
                });
            });
    
    </script>
 
    <link rel="stylesheet" href="../../bootstrap-3.3.5-dist/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="../../bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
   
</head>
<body>
<!--Main Nav-->
   <div id="mainnavbar" ng-controller="navController as navctrl">
   <div role="banner" class="navbar navbar-fixed-top navbar-inverse" class="container-fluid nav ">
       <div class="navbar-header">
         
       </div>
       <div class="navbar-inverse side-collapse in">
         <nav role="navigation" class="navbar-collapse">
           <ul class="nav navbar-nav">
             <li style="width: 14.66666667%;"><img class="logo" src="../../images/logo.png"></li>
             <li  class="links1" ng-click="navctrl.selectTab(0) "><a  style="position: relative;padding-top: 50px;"href="#home">Home</a></li>
             <li  class="links1" ng-click="navctrl.selectTab(0)"><a  style="position: relative;padding-top: 50px;"href="#about_tbi">About</a></li>
             <li  class="links1" ng-click="navctrl.selectTab(1)"><a  style="position: relative;padding-top: 50px;"href="#services">Facilities & Services<span class="caret"></span></a></li>
             <li  class="links1" ng-click="navctrl.selectTab(2) "><a  style="position: relative;padding-top: 50px;"href="#">Our Startups<span class="caret"></span></a></li>
             <li  class="links1" ng-click="navctrl.selectTab(3) "><a  style="position: relative;padding-top: 50px;"href="#">News & Events<span class="caret"></span></a></li>
             <li  class="links1" ng-click="navctrl.selectTab(0)"><a  style="position: relative;padding-top: 50px;"href="#">CSR Partenership</a></li>
             <li  class="links1" ng-click="navctrl.selectTab(0)"><a  style="position: relative;padding-top: 50px;"href="#">Past Events</a></li>
           </ul>
         </nav>
       </div>
       <div id="fsdrop"  class="container-fluid dropdown1 show-hide" ng-show="navctrl.isSelected(1)">
   <div class="container-fluid" style="display:flex;">
   <div style="width:16%">
    <h1 class="linkhead">FACILITIES AND <br>SERVICES</h1>
  </div>
  <div class="col-lg-1 col-md-1 " style="width:2%"><img style="margin-top:-21px"src="../../images/line.png"></div>
  <ul class="menu2" style="width:90%;display: flex;">
    <li class="linkdrop"><a href="">Infrastructure</a></li>
    <li class="linkdrop"><a href="">Access<br>to Funding</a></li>
    <li class="linkdrop"><a href="">Soft Landing<br> Support</a></li>
    <li class="linkdrop"><a href="">Training &<br> Development</a></li>
    <li class="linkdrop"><a href="">Projects &<br> Partnership</a></li>
    <li class="linkdrop"><a href="">Monitoring</a></li>
    <li class="linkdrop"><a href="">IPR Cell</a></li>
  </ul>
  </div>
 </div>
  <div id="osdrop" ng-animate=" 'animate' " class="container-fluid dropdown1 animate-show"  ng-show="navctrl.isSelected(2)">
   <div class="col-lg-12 col-md-12">
   <div class="borderight col-lg-3 col-md-3">
       <h1 class="linkhead">OUR <br>STARTUPS</h1>
   </div>
   <div class="col-lg-1 col-md-1"><img style="margin-top:-21px"src="../../images/line.png"></div>
   <ul>
       <li class="linkdrop col-lg-2 col-md-2"><a href="#">Projects<br>Under Incubation</a></li>
       <li class="linkdrop col-lg-2 col-md-2"><a href="#">Graduated<br> Companies</a></li>
       <li class="linkdrop col-lg-2 col-md-2"><a href="#">Anchor<br> Companies</a></li>
   </ul>
   </div>
  </div>
  <div id="news" class="container-fluid dropdown1 animate-show"  ng-show="navctrl.isSelected(3)">
   <div class="col-lg-12 col-md-12">
   <div class="borderight col-lg-2 col-md-2">
       <h1 class="linkhead">NEWS & <br>EVENTS</h1>
   </div>
   <div class="col-lg-1 col-md-1"><img style="margin-top:-21px"src="../../images/line.png"></div>
   <ul>
       <li class="linkdrop col-lg-3 col-md-3"><a href="">Promotional<br>Events</a></li>
    <li class="linkdrop col-lg-3 col-md-3"><a href="">Newsletter &<br>Press Release</a></li>
   </ul>
   </div>
  </div>
  </div>

  </div>
  <!--mobile nav-->
  <header role="banner" id="slidernavbar" class="navbar navbar-fixed-top navbar-inverse" class="container-fluid nav ">
      <div class="navbar-header">
        <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><h1 class="logo3"style="color:white;font-size:20px;font-family:Roboto;text-align:start;">Menu</h1>
      </div>
      <div class="navbar-inverse side-collapse in">
        <nav role="navigation" class="navbar-collapse">
          <ul class="navbar-nav">
            <li class="links2"><a href="#home">Home</a></li>
            <li class="links2"><a href="#about_tbi">About</a></li>
            <li class="dropdown links2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facilities & Services<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Infrastructure</a></li>
              <li><a href="#">Access<br>to Funding</a></li>
              <li><a href="#">Soft Landing<br> Support</a></li>
              <li><a href="#">Training &<br> Development</a></li>
              <li><a href="#">Projects &<br> Partnership</a></li>
              <li><a href="#">Monitoring</a></li>
              <li><a href="#">IPR Cell</a></li>
            </ul>
          </li>
              <li class="dropdown links2">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Startups<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Projects<br>Under Incubation</a></li>
                <li><a href="#">Graduated<br> Companies</a></li>
                <li><a href="#">Anchor<br> Companies</a></li>
              </ul>
            </li>
              <li class="dropdown links2">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">News & Events<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Promotional<br>Events</a></li>
                <li><a href="#">Newsletter &<br>Press Release</a></li>
              </ul>
            </li>
            <li class="links2"><a href="#">CSR Partenership</a></li>
            <li class="links2"><a href="#">Past Events</a></li>
          </ul>
        </nav>
      </div>
      </header>

      
      </body>
      </html>